{% if security.registerable or security.recoverable or security.confirmabled %}
<ul class="uk-list uk-text-left">
  <li><a href="{{ url_for_security('login') }}">Login</a></li>
  {% if security.registerable %}
  <li><a href="{{ url_for_security('register') }}">Register</a><br/></li>
  {% endif %}
  {% if security.recoverable %}
  <li><a href="{{ url_for('front.forgot_password') }}">Forgot password</a><br/></li>
  {% endif %}
  {% if security.confirmable %}
  <li><a href="{{ url_for_security('send_confirmation') }}">Confirm account</a></li>
  {% endif %}
</ul>
{% endif %}