{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Age Ranges</h1>
		<form action="/{{g.current_school.u_name}}/age_ranges/" method="POST" name="age_range_form" id="age-range-form" class="uk-form">
			{{ age_range_form.hidden_tag() }}
			<fieldset>
				<div class="uk-form-row">
					{{ render_field_with_errors(age_range_form.start_age,sr='only') }}
					{{ render_field_with_errors(age_range_form.end_age,sr='only') }}
					{{ render_field_with_errors(age_range_form.needs_potty_trained,sr='only') }}
				</div>
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}