{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/lib/uikit.addons.min.css') }}">
{% endblock %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Edit Attendance</h1>
		<form action="{{ url_for('back.attendance_edit',attendance_id=attendance.id) }}" method="POST" name="attendance_edit_form" id="attendance_edit_form" class="uk-form">
			{{ attendance_edit_form.hidden_tag() }}
			<fieldset>
				{{ render_field_with_errors(attendance_edit_form.time,sr='only') }}
				{{ render_field_with_errors(attendance_edit_form.status,sr='only') }}
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/datepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/timepicker.min.js') }}"></script>
{% endblock %}