{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-width-medium-1-1">
	<h1>Attendance</h1>
	<form class="uk-form" action="{{ url_for('back.attendance_download') }}" method="GET">
		{{ attendance_download_form.hidden_tag() }}
		{{ render_field_with_errors(attendance_download_form.from_attendance,sr='only') }}
		<p>TO</p>
		{{ render_field_with_errors(attendance_download_form.to_attendance,sr='only') }}
		<div class="uk-form-row">
			<input type="submit" value="Download Attendance Report" class="uk-button uk-button-small">
		</div>
	</form>
</div>
{% endblock %}