{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block extra_meta %}
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"> 
{% endblock %}
{% block dash_content %}
<h1>Welcome to {{ g.current_school.name }}</h1>
<span id="fastclick">
<div class="uk-container uk-container-center uk-text-center">
	{% if not g.is_parent and not g.is_attendance %}	
		<div>
			<a href="/{{ g.current_school.u_name }}/" class="uk-button uk-margin-bottom uk-button-mini">
				Exit
			</a>
		</div>
	{% endif %}
	{% if g.is_admin %}
		<div>
			<a href="/{{ g.current_school.u_name }}/attendance/log/" class="uk-button uk-margin-bottom uk-button-mini">
				Attendance Log
			</a>
		</div>
	{% endif %}
	{% if g.is_admin or g.is_teacher %}
		<div>
			<a href="/{{ g.current_school.u_name }}/attendance/login/" class="uk-button uk-margin-bottom uk-button-mini uk-button-success">Attendance Only Access</a>
		</div>
	{% endif %}
	<div class="uk-panel uk-panel-box uk-width-large-3-3 uk-width-medium-3-3 uk-container-center uk-text-center">
		<div id="success-display" style="display:none;">
			<i class="uk-icon-check" style="color:green;font-size:100px;"></i>
		</div>
		<div id="attendance-message-center">
			<div id="attendance-alert-message"></div>
			<div id="attendance-warning-message"></div>
		</div>
		<div id="failure-display" style="display:none;">
			<i class="uk-icon-minus-circle" style="color:red;font-size:100px;"></i>
		</div>
		<div class="uk-button-group" data-uk-button-radio>
			<button class="uk-button uk-button-primary uk-active" id="sign-in">in</button>
			<button class="uk-button uk-button-primary" id="sign-out">out</button>
		</div>
		<form action="/{{g.current_school.u_name}}/attendance/" method="POST" name="attendance_form" id="attendance-form" class="uk-form">
			{{ attendance_form.hidden_tag() }}
			<fieldset>
				<div class="uk-form-row code-container">
					{{ render_field_with_errors(attendance_form.code,sr='only') }}
				</div>
			</fieldset>
		</form>
		<div class="uk-grid dial-row uk-margin-top" id="dialpad">
			<div class="uk-width-1-3">
				<a href='#' class="uk-button uk-button-large uk-button-primary dial-button">1</a>			
			</div>
			<div class="uk-width-1-3">
				<a href='#' class="uk-button uk-button-large uk-button-primary dial-button">2</a>			
			</div>
			<div class="uk-width-1-3">
				<a href='#' class="uk-button uk-button-large uk-button-primary dial-button">3</a>			
			</div>
		</div>
		<div class="uk-grid dial-row">
			<div class="uk-width-1-3">
				<a href='#' class="uk-button uk-button-large uk-button-primary dial-button">4</a>			
			</div>
			<div class="uk-width-1-3">
				<a href='#' class="uk-button uk-button-large uk-button-primary dial-button">5</a>			
			</div>
			<div class="uk-width-1-3">
				<a href='#' class="uk-button uk-button-large uk-button-primary dial-button">6</a>			
			</div>
		</div>
		<div class="uk-grid dial-row">
			<div class="uk-width-1-3">
				<a href='#' class="uk-button uk-button-large uk-button-primary dial-button">7</a>			
			</div>
			<div class="uk-width-1-3">
				<a href='#' class="uk-button uk-button-large uk-button-primary dial-button">8</a>			
			</div>
			<div class="uk-width-1-3">
				<a href='#' class="uk-button uk-button-large uk-button-primary dial-button">9</a>			
			</div>
		</div>
		<div class="uk-grid dial-row">
			<div class="uk-width-1-3">
				<a href='#' class="uk-button uk-button-large uk-button-danger dial-button">del</a>
			</div>
			<div class="uk-width-1-3">
				<a href='#' class="uk-button uk-button-large uk-button-primary dial-button">0</a>			
			</div>
			<div class="uk-width-1-3">
				<a href='#' class="uk-button uk-button-large uk-button-success dial-button">GO</a>			
			</div>
		</div>
	</div>
</div>

<div id="kid-chooser-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-slide">
        <a href="" class="uk-modal-close uk-close"></a>
    	<div class="uk-list" id="kid-choices">
    	</div>
    </div>
</div>

</span>
{% endblock %}

{% block extra_js %}

{% assets "attendance" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
var postURL = '/{{ g.current_school.u_name }}/attendance/';
var pingURL = '{{ url_for("back.attendance_ping") }}';
$(function(){
	document.body.addEventListener('touchstart', function(e){ e.preventDefault(); });
});
</script>
{% endblock %}