{% from "security/_macros.html" import render_field_with_errors, render_field %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex,nofollow"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block extra_meta %}
	{% endblock %}
	<title>
		{% block title %}
		{{ g.current_school.name }}
		{% endblock %}
	</title>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-50075621-1', 'gototgo.com');
ga('send', 'pageview');
</script>

{% block extra_css %}
{% endblock %}
{% assets "css_back" %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
</head>
<body>
{% block message_center %}
<div id="message-center">
	<div class="uk-grid">
		<div class="uk-width-1-1 uk-text-center">
			<form class="uk-form" id="send-message-form">
				{{ g.message_form.hidden_tag() }}
				<p style="color:white;">Send a text message and email to <span id="message-to"></span></p>
				{{ render_field_with_errors(g.message_form.message_message,sr='only') }}
				<select style="display:none;" class="solo" name="message_who" id="message-who"></select>
				<div class="form-row uk-margin-top">
					<i class='uk-icon-refresh uk-icon-spin uk-hidden' style="color:#FFFFFF;"></i>
					<input class="uk-button uk-button-primary" type="submit">
				</div>
			</form>
			<span class="uk-text-center" id="message-close">
				<a href="#" id="message-close-button" class="uk-button uk-button-small uk-margin-top">
					<i class="uk-icon-chevron-up" ></i>
				</a>
			</span>
		</div>
	</div>
</div>
{% endblock %}
{% block nav %}
<nav class="p-navbar uk-navbar uk-navbar-attached">
	<div class="uk-container uk-container-center">
		<a class="uk-navbar-brand uk-hidden-small" href="/">
			<img class="uk-margin uk-margin-remove" src="{{ url_for('static',filename='img/logo.png') }}" width="90" height="30" title="gototgo" alt="gototgo"><sup>tm</sup>
			<p id="school-info" class="uk-badge">{{ g.current_school.name }}, {{ g.current_school.city }}, {{ g.current_school.state }}</p>
		</a>

		<div class="uk-navbar-flip uk-hidden-small">
			<ul class="uk-navbar-nav">
				{% if current_user.schools.all() | length > 1 %}
				<li class="uk-parent" data-uk-dropdown="">
					<a href="#">{{ g.current_school.name }} <i class="uk-icon-caret-down"></i></a>

					<div class="uk-dropdown uk-dropdown-navbar" style="">
						<ul class="uk-nav uk-nav-navbar">
							{% for school in current_user.schools.all() %}
							<li><a href="/{{ school.u_name }}/">{{ school.name }} {{ school.city }},{{ school.state }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</li>
				{% endif %}
				{% if current_user.is_anonymous() %}
				<li><a href="/login/">Login</a></li>
				<li><a href="/register/">Sign up</a></li>
				{% else %}
				<li><a href="/{{g.current_school.u_name}}/settings/" class="uk-hidden-medium">{{ current_user.email }}</a></li>
				<li><a href="/logout/">Logout</a></li>
				{% if g.is_admin or g.is_director %}
				<li>
					<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="test-switch" {% if g.current_school.testing %}checked{% endif %}>
					<label class="onoffswitch-label" for="test-switch">
					<div class="onoffswitch-inner"></div>
					<div class="onoffswitch-switch"></div>
					</label>
					</div>
				</li>
				{% endif %}
				{% endif %}
			</ul>
		</div>


		<a href="#p-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>

		<div class="uk-navbar-brand uk-navbar-center uk-visible-small">
			<img src="{{ url_for('static',filename='img/logo.png') }}" width="90" height="30" title="gototgo" alt="gototgo">
			<sup>tm</sup>
			<p id="school-info" class="uk-badge">{{ g.current_school.name }}, {{ g.current_school.city }}, {{ g.current_school.state }}</p>
		</div>

	</div>
</nav>
{% endblock %}
<div class="uk-grid" id="test-mode-alert" {% if not g.testing %}style="display:none;"{% endif %}>
	<div class="uk-width-1-1">
		<div class="uk-alert uk-alert-danger uk-text-center">
		<i class="uk-icon-star"></i><i class="uk-icon-star"></i><i class="uk-icon-star"></i><strong>You are in test mode. No emails, text messages, or bills will be sent out while in test mode. Play around for a while. Switch to live mode in the menu when you are ready to go.</strong><i class="uk-icon-star"></i><i class="uk-icon-star"></i><i class="uk-icon-star"></i>
		</div>
	</div>
</div>
<noscript><p>GototGo needs JavaScript to function, but you have it disabled. Check your browser settings.</p></noscript>
{% block content %}
<p>well hello there. </p>
{% endblock %}
{% block off_canvas %}
<div id="p-offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
        	{% if not current_user.is_attendance() %}
        	<li {% if request.endpoint == 'back.home' %}class="uk-active"{% endif %}>
				<a href="/{{ g.current_school.u_name }}/">Kids</a>
			</li>
			{% endif %} 
			{% if g.is_admin or g.is_director %}
			<li {% if request.endpoint == 'back.groups' %}class="uk-active"{% endif %}>
				<a href="/{{ g.current_school.u_name }}/groups/">Groups</a>
			</li>
			{% endif %}
			{% if g.is_admin and g.current_school.billing_on %}
			<li {% if request.endpoint == 'back.bills' %}class="uk-active"{% endif %}>
				<a href="/{{ g.current_school.u_name }}/bills/">Bills</a>
			</li>
			{% endif %}
			{% if g.is_admin or g.is_director %}
			<li {% if request.endpoint == 'back.staff' %}class="uk-active"{% endif %}>
				<a href="/{{ g.current_school.u_name }}/staff/">Staff</a>
			</li>
			{% endif %}
			{% if g.is_admin or g.is_director %}
			<li {% if request.endpoint == 'back.parents' %}class="uk-active"{% endif %}>
				<a href="/{{ g.current_school.u_name }}/parents/">Parents</a>
			</li>
			{% endif %}
			{% if g.is_admin or g.is_director %}
			<li {% if request.endpoint == 'back.schedules' %}class="uk-active"{% endif %}>
				<a href="/{{ g.current_school.u_name }}/schedules/">Schedules</a>
			</li>
			{% endif %}
			{% if g.is_admin or g.is_director %}
			<li {% if request.endpoint == 'back.reports' %}class="uk-active"{% endif %}>
				<a href="/{{ g.current_school.u_name }}/reports/">Reports</a>
			</li>
			{% endif %}
			{% if g.is_admin or g.is_director %}
			<li {% if request.endpoint == 'back.sign_forms' %}class="uk-active"{% endif %}>
				<a href="/{{ g.current_school.u_name }}/forms/">Forms</a>
			</li>
			{% endif %}
			{% if g.is_admin or g.is_director %}
			<li {% if request.endpoint == 'back.medical' %}class="uk-active"{% endif %}>
				<a href="/{{ g.current_school.u_name }}/medical/">Medical</a>
			</li>
			{% endif %}
			{% if g.is_admin or g.is_attendance or g.is_teacher or g.is_director %}
			<li {% if request.endpoint == 'back.attendance' %}class="uk-active"{% endif %}>
				<a href="/{{ g.current_school.u_name }}/attendance/">Attendance</a>
			</li>
			{% endif %}
			{% if g.is_admin or g.is_director %}
			<li><a href="/logout/">Logout</a></li>
			{% endif %}
			{% if current_user.schools.all() | length > 1 %}
			<li class="uk-parent">
				<a href="#">Current School: {{ g.current_school.name }}</a>
				<ul class="uk-nav-sub">
					{% for school in current_user.schools.all() %}
					<li><a href="/{{ school.u_name }}/">{{ school.name }} {{ school.city }},{{ school.state }}</a></li>
					{% endfor %}
				</ul>
			</li>
			{% endif %}
			{% if g.is_admin or g.is_director %}
        	<li {% if request.endpoint == 'back.orders' %}class="uk-active"{% endif %}>
				<a href="/{{ g.current_school.u_name }}/orders/">Orders</a>
			</li>
			{% endif %} 
			{% if not current_user.is_attendance() %}
			<li {% if request.endpoint == 'back.settings' %}class="uk-active"{% endif %}>
				<a href="/{{ g.current_school.u_name }}/settings/">Settings</a>
			</li>
			{% endif %}
        </ul>
    </div>
</div>

{% endblock %}
<script type="text/javascript">
var school = '{{ g.current_school.u_name }}';
</script>
{% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
<script type="text/javascript">
$(function(){

	$("#message-center").on("open",function(e){
		$("#message-center").slideDown(200);
	})


	$("#message-close-button").on('click',function(e){
		e.preventDefault();
		$("#message-center").slideUp(200);
	});

	// SEND MESSAGE
	$("#send-message-form").submit(function(e){
		e.preventDefault();
		var data = {
			json_data : serialize($('#send-message-form'))
		}
		$("#send-message-form").find('i.uk-icon-refresh').removeClass('uk-hidden');
		$("#send-message-form").find('button').prop('disabled','disabled');
		$("#message_message").prop('disabled','disabled');
		$.post('/' + school + '/messages/', data, function(data){
			if(data == 'OKAY'){
				$("#message-center").slideUp(200);
			}
			$("#message").val('');
			$("#message_message").removeProp('disabled','disabled');
			$("#send-message-form").find('i.uk-icon-refresh').addClass('uk-hidden');
		})

		return false;
	});

	var serialize = function($form){
        var serialized = $form.serializeArray();
        var s = '';
        var data = {};
        for(s in serialized){
            data[serialized[s]['name']] = serialized[s]['value']
        }
        return JSON.stringify(data);
    }


});
</script>
{% endassets %}
{% block extra_js %}
{% endblock %}
<script type="text/javascript">
UserVoice=window.UserVoice||[];(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="//widget.uservoice.com/0P7V2w8tT5JfriyAcasE5Q.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();UserVoice.push(["set",{accent_color:"#448dd6",trigger_color:"white",trigger_background_color:"rgba(46, 49, 51, 0.6)"}]);UserVoice.push(["identify",{}]);UserVoice.push(["addTrigger",{mode:"contact",trigger_position:"bottom-right"}]);
UserVoice.push(["autoprompt",{}]);
</script>
</body>
</html>