{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/lib/uikit.addons.min.css') }}">
{% endblock %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Edit Bill, invoice and credits</h1>
    	<h2>Edit Bill for {{ bill.kid.first_name }} {{ bill.kid.last_name[0] }}. for the month of {{ bill.month }}</h2>
    	<h3>Bill id: #B{{ bill.id }}</h3>
    	<a href="{{ url_for('back.bills') }}" class="uk-button uk-button-mini">Back to bills</a>

    	<form action="{{ url_for('back.bills_edit',bill_id=bill.id) }}" method="POST" name="bill_edit_form" id="bill-edit-form" class="uk-form">
			{{ bill_edit_form.hidden_tag() }}
			<fieldset>
				{{ render_field_with_errors(bill_edit_form.active,sr='only') }}
				{{ render_field_with_errors(bill_edit_form.amount,pre='$') }}
				{{ render_field_with_errors(bill_edit_form.per_day,pre='$') }}
				{{ render_field_with_errors(bill_edit_form.notified,sr='only') }}
				{{ render_field_with_errors(bill_edit_form.status,sr='only') }}
				{{ render_field_with_errors(bill_edit_form.description) }}
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary uk-button-small" value="Save bill">
				</div>
			</fieldset>
		</form>

		<h2>Invoice for Bill</h2>
		{% if bill.invoice.bills.count() > 1 %}
		<p>This invoice is applied to multiple bills. </p>
		{% for bill in bill.invoice.bills.all() %}
		<ul class="uk-list">
			<li><a href="{{ url_for('back.bills_edit',bill_id=bill.id) }}">Bill id# {{ bill.id }}</a></li>
		</ul>
		{% endfor %}
		{% endif %}
		<table class="uk-table">
			<tbody>
				<tr>
					<td class="uk-width-1-10 uk-text-right">
						REMAINING
					</td>
					<td class="uk-width-1-10 uk-text-left">
						<span class="uk-badge uk-badge-danger">{{ format_price(bill.invoice.remaining) }}</span>
					</td>
				</tr>
				<tr>
					<td class="uk-width-1-10 uk-text-right">PAID</td>
					<td class="uk-width-1-10 uk-text-left"><span class="uk-badge uk-badge-warning">{{ format_price(bill.invoice.paid) }}</span></td>
				</tr>
			</tbody>
		</table>

		<h2>Credits for Invoice</h2>
		{% if not bill.invoice.credits.count() %}
		<p class="uk-text-danger" >
			There are no credits for this invoice yet. 
		</p>
		{% endif %}

		<h4>Add new credit</h4>
		<form action="{{ url_for('back.credits_new',bill_id=bill.id,invoice_id=bill.invoice.id) }}" method="POST" name="credit_form" id="credit-form" class="uk-form">
			{{ credit_form.hidden_tag() }}
			<fieldset>
				{{ render_field_with_errors(credit_form.amount,sr='only',pre='$') }}
				{{ render_field_with_errors(credit_form.description,sr='only') }}
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary uk-button-small" value="Add credit">
				</div>
			</fieldset>
		</form>
		<table class="uk-table">
			{% for credit in bill.invoice.credits.all() %}
			<tr>
				<td><span class="uk-badge uk-badge-success">+{{ format_price(credit.amount) }}</span></td>
				<td>{{ credit.description }}</td>
				<td>{{ credit.status }}</td>
			</tr>
			{% endfor %}
		</table>
			
		
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/validate.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/notify.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/helpers.js') }}"></script>
<script type="text/javascript">
$(function(){
	$('#bill-edit-form').on('submit',function(e){
		e.preventDefault();
		var billEditFormJSON = FormHelper.parseForm($(this),true);
		$.UIkit.notify("Saving this bill...", {status:'warning'})
		$.post('{{ url_for('back.bills_edit',bill_id=bill.id) }}',billEditFormJSON,function(data){
			console.log('data',data)
			if(data.result == 'OKAY'){
				$.UIkit.notify("Bill has been updated", {status:'success'})
				// location.reload(false);
			}else{
				$.UIkit.notify("There was a problem and the bill was not updated. Please refresh the page.", {status:'danger'})
			}
		});
		return false;
	});


	$('#credit-form').on('submit',function(e){
		e.preventDefault();
		var creditFormJSON = FormHelper.parseForm($(this),true);
		$.UIkit.notify("Saving this credit...", {status:'warning'})
		$.post('{{ url_for('back.credits_new',invoice_id=bill.invoice.id,bill_id=bill.id) }}',creditFormJSON,function(data){
			console.log('data',data)
			if(data.result == 'OKAY'){
				$.UIkit.notify("Credit has been added", {status:'success'});
				location.reload(false);
			}else{
				$.UIkit.notify("There was a problem and the credit was not added. Please refresh the page.", {status:'danger'})
			}
		});
		return false;
	});

})
</script>

{% endblock %}