{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>{{ group.name }}</h1>
		<p><span class="uk-badge uk-badge-success">{{ kids_in }}</span> <span class="uk-badge uk-badge-danger">{{ kids_out }}</span></p>
		{% if group.active_kids.all() | length %}
		<a href="{{ url_for('back.groups_activities_new',group_id=group.id) }}" class="uk-button uk-button-small">Add activity for all</a>
		<table class="uk-table uk-table-condensed">
			{% for kid in group.active_kids %}
			<tr>
				<td style="width:85px;">
					{% if kid.profile_pic_small %}
					<img class="uk-thumbnail" src="{{ kid.profile_pic_smallish }}" >
					{% else %}
					<a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">
						<i class="uk-icon-user uk-thumbnail" style="font-size:84px;color:#DDD;"></i>
					</a>
					{% endif %}
				</td>
				<td>
					<a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">
						<span class="uk-margin-left">{{ kid.full_name }}</span>
					</a>
				</td>
				<td>
					<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
						<button class="uk-button uk-button-small">Actions <i class="uk-icon-caret-down"></i></button>
						<div class="uk-dropdown" style="">
							<ul class="uk-nav uk-nav-dropdown">
								<li><a href="{{ url_for('back.kids_activities_new',kid_id=kid.id) }}">Add activity</a></li>
								<li><a href="{{ url_for('back.kids_edit',kid_id=kid.id) }}">Edit</a></li>
							</ul>
						</div>
					</div>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<p>You don't have any kids in this group yet.</p>
		{% endif %}
	</div>
</div>
{% endblock %}
