{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Edit {{ group.name }}</h1>
		{% if g.is_admin %}
		<form action="/{{g.current_school.u_name}}/groups/edit/{{ group.id }}/" method="POST" name="groups_form" id="group-form" class="uk-form">
			{{ groups_form.hidden_tag() }}
			<fieldset>
				<div class="uk-form-row">
					{{ render_field_with_errors(groups_form.name,sr='only') }}
					{{ render_field_with_errors(groups_form.kids,sr='only') }}
					{{ render_field_with_errors(groups_form.staff,sr='only') }}
				</div>
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>
			</fieldset>
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}
