{% extends "back/dash_layout.html" %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">		
		<div class="uk-alert uk-hidden" id="drop-warning">Uh Oh!</div>
		<h2>Want to import all your info at once?</h2>
		<h3>Here's what you'll need:</h3>
		<ul class="uk-list">
			<li>You'll need a properly formatted spreadsheet.</li>
			<li>Well, that's all you really need.</li>
		</ul>
<!-- 		<p>Where are you importing from?</p>
		<form>
			<label for="ezcare">
				<input type="radio" name="import-type" id="ezcare">
				EzCare
			</label>
			<label for="other">
				<input type="radio" name="import-type" id="other">
				Other
			</label>
		</form> -->
		<h3>Import Status: <span id="import-status">0</span> imported</h3>
		<div class="uk-container uk-container-center uk-text-center uk-margin">
			<div class="uk-panel uk-panel-box uk-width-medium-1-3 uk-container-center uk-text-center" id="drop-zone">
				<p id="file-status">DRAG EXCEL FILE HERE</p>
				<p class="uk-hidden" id="xls-file"><img src="{{ url_for('static',filename='img/xls.png') }}" ><span></span></p>
				<p class="uk-hidden" id="csv-file"><img src="{{ url_for('static',filename='img/csv.png') }}" ><span></span></p>
			</div>
		</div>

	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
var school = '{{ g.current_school.u_name }}';
</script>
{% assets "importance" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}