{% extends "back/dash_layout.html" %}
{% block dash_content %}
<h1>{{ status }}</h1>
{% if not kids %}
	<p>No kids here.</p>
{% else %}
<table class='uk-table'>
	{% for kid in kids %}
	<tr>
		<td>{{ kid.full_name }}</td>
	</tr>
	{% endfor %}

</table>
{% endif %}
<a href="{{ url_for('back.home') }}" class="uk-button uk-button-primary">Back to Dashboard</a>
{% endblock %}