{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block extra_css %}
{% assets "css_calendar" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>{{ kid.first_name }} {{ kid.last_name }}</h1>
		{% if g.is_admin %}
		<a class="uk-button uk-button-small" href="{{url_for('back.kids_edit',kid_id=kid.id)}}"><i class="uk-icon-pencil"></i> Edit {{ kid.first_name }}</a>
		<a href="#" id="send-kid-message-show-page" class="uk-button uk-button-small"><i class="uk-icon-comment-o"></i> Message {{ kid.first_name }}'s parents</a>
		{% endif %}

		{% if g.current_school.billing_on %}
		{% if g.is_admin or g.is_parent %}
		<a href="{{ url_for('back.bill_single',kid_id=kid.id,month=month,year=year) }}" class="uk-button uk-button-small"><i class="uk-icon-money"></i> Bill for this month</a>
		{% endif %}
		{% endif %}
		<h2>{{ kid.current_group }}</h2>
		{% if g.is_admin or g.is_director %}
		<p><a href="{{ url_for('back.home') }}" class="uk-button uk-button-primary uk-button-small">Back to kids dashboard</a></p>
		{% endif %}
	</div>
	<div class="uk-width-medium-1-2">
		{% if kid.profile_pic_med %}
		<div id="profile-pic-img">
			<a href="#" class="uk-button uk-button-mini remove-kid-pic" style="position:absolute;">X</a>
			<img class="uk-thumbnail" src="{{ kid.profile_pic_med }}">
		</div>
		<div id="profile-pic-area" style="display:none;" class="uk-container uk-container-center uk-text-center uk-margin">
			<div class="uk-panel uk-panel-box uk-width-medium-1-1 uk-container-center uk-text-center" id="drop-zone">
				<p id="file-status">DRAG A PICTURE OF {{ kid.first_name.upper() }} HERE</p>
				<p class="uk-hidden" id="img-file"><img src="{{ url_for('static',filename='img/img.png') }}" ><span></span></p>
			</div>
		</div>
		{% else %}
		<div class="uk-alert uk-hidden" id="drop-warning">Uh Oh!</div>
		<div id="profile-pic-area" class="uk-container uk-container-center uk-text-center uk-margin">
			<div class="uk-panel uk-panel-box uk-width-medium-1-1 uk-container-center uk-text-center" id="drop-zone">
				<p id="file-status">DRAG A PICTURE OF {{ kid.first_name.upper() }} HERE</p>
				<p class="uk-hidden" id="img-file"><img src="{{ url_for('static',filename='img/img.png') }}" ><span></span></p>
			</div>
		</div>
		{% endif %}
		<div id="photo-area">
			<h2>Photos</h2>
			{% if not photos %}
			<p class="no-photos-message">No photos here yet.</p>
			<div id="kid-photos"></div>
			{% else %}
			<div id="kid-photos">
			{% for photo in photos %}
				<div class="kid-photo">
					<a href="#photo-slideshow-modal" data-url="{{ url_for('back.kids_photos',kid_id=kid.id,photo_id=photo.id,size_id='large') }}" data-uk-modal class="photo-slideshow-link">
						<img class="uk-thumbnail" data-id="{{ photo.id }}" src="{{ photo.pic_smallish }}" />
					</a>
				</div>
			{% endfor %}
			</div>
			{% endif %}
			<div id="upload-drop" class="uk-placeholder uk-text-center">
			<i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i> Add pictures by dropping them here or <a class="uk-form-file">selecting one<input id="upload-select" name="activity_files" type="file"></a>.
			</div>

			<div id="progressbar" class="uk-progress uk-hidden">
				<div class="uk-progress-bar" style="width: 0%;">0%</div>
			</div>
		</div>
		<div id="time-list-area">
			<h2>This week's hours for {{ kid.first_name }}</h2>
			<a href="#" id="show-weekly-times-list" class="uk-button uk-button-mini">Show</a>
			<div class="week-controls">
				<a href="#" class="uk-button uk-button-mini" id="prev-week">&lt;&lt; Prev Week</a>
				<a href="#" class="uk-button uk-button-mini" id="next-week">Next Week &gt;&gt;</a>
			</div>
			<ul class="uk-list weekly-times-list" style="display:none;">
				{% for day in weekly_schedule_with_dates %}
				<li>
					<div data-date="{{ day['date'].strftime('%Y/%m/%d') }}" class="uk-width-medium-1-4 date-box date-box-{{ day['date'].strftime('%a') | lower }}">
						<div class="date-box-content">
							<span class="week-date">{{ day['date'].strftime('%a %m/%d/%y') }}</span>
							{%- if day['schedule_day'] -%}
								<span class="actual-week-day-time">{{ day['schedule_day'].start_time.strftime('%I:%M %p') }}-{{ day['schedule_day'].end_time.strftime('%I:%M %p') }}</span>
							{%- else -%}
							<span class="no-time-set">
								<span>None</span>
								<a href="#" class="set-time uk-button uk-button-mini">Set</a>
							</span>
							<div class="set-time-form" style="display:none;">
								<form data-date="{{ day['date'].strftime('%Y/%m/%d') }}" class="new-week-day-form uk-form">
									<div class="uk-form-row">
										<input type="text" name="start-time" data-uk-timepicker="{showMeridian:true}" placeholder="from">
									</div>
									<div class="uk-form-row">
										<input type="text" name="end-time" data-uk-timepicker="{showMeridian:true}" placeholder="to">
									</div>
									<div class="uk-form-row">
										<input type="submit" value="Save" class="uk-button uk-button-mini">
									</div>
								</form>
							</div>
							{%- endif -%}
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>

		{% if kid.sign_forms %}
		<div>
			<h2>Forms</h2>
			<ul class="uk-list">
			{% for form in kid.sign_forms %}
			{% if form.active %}
			<li><a href="{{ url_for('back.sign_forms_show',sign_form_id=form.id, kid_id=kid.id ) }}">{{ form.title }}</a></li>
			{% endif %}
			{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
	<div class="uk-width-medium-1-2">
		<h2 class="uk-hidden-large uk-hidden-medium">Status</h2>
		<p>
			{% if kid.hold %}

			<span class="uk-badge in-out-badge uk-badge-warning">HOLD</span>

			{% else %}

				{% if kid.status == 1 %}
				<span class="uk-badge in-out-badge uk-badge-success">IN</span>
				{% else %}
				<span class="uk-badge in-out-badge uk-badge-danger">OUT</span>
				{% endif %}

			{% endif %}
		</p>
		<p>
			{% if g.is_admin or g.is_director %}
			<a href="#" id="send-daily-sheet" class="uk-button uk-button-small">Send Daily Sheet</a>
			{% endif %}
			{% if g.is_admin or g.is_teacher or g.is_director %}
				{%  if kid.status == 1  %}
				<a href="{{ url_for('back.kids_activities_new',kid_id=kid.id) }}" class="uk-button uk-button-small">Add activity</a>
				{% endif %}
				{% if kid.status == 1 %}
				<a href="#" class="uk-button uk-button-small sign-out-kid">Sign out {{ kid.first_name }}</a>
				{% else %}
				<a href="#" class="uk-button uk-button-small sign-in-kid">Sign in {{ kid.first_name }}</a>
			{% endif %}
		</p>
		{% endif %}
		{% if not activities.all() | length %}
			<p>No activities yet!</p>
		{% else %}
		<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
			<caption>Activities</caption>
			{% for activity in activities %}
			<tr>
				<td valign='middle'>{{ activity.activity_type.name }}</td>
				<td><span class="timeago" title="{{ activity.time.isoformat() }}">{{ activity.time.strftime('%I:%M%:%S%p') }}</span></td>
				<td class="activity-description">
					{% if activity.description %}
					<a href="#" class="uk-button uk-button-small js-expander" data-connect="#activity-description-{{ activity.id }}">Details</a> 
					<p id="activity-description-{{ activity.id }}" class="js-expander-content">{{ activity.description }}</p>
					{% endif %}
				</td>
				{% if g.is_admin or g.is_teacher or g.is_director %}
				<td>
					<a href="#" data-id="{{ activity.id }}" class="delete-activity uk-button uk-button-small uk-button-danger">X</a>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		{% if not attendance.all() | length %}
			<p>No attendance here!</p>
		{% else %}
		<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
			<caption>Attendance</caption>
			{% for attend in attendance %}
			<tr>
				<td valign='middle'>Signed {% if attend.status == 1 %}IN{% else %}OUT{% endif %}</td>
				<td valign='middle'>{{ attend.time.strftime('%D at %I:%M:%S %p') }}</td>
				<td valign='middle'>by {{ attend.user.person.first_name }}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		{% if g.is_admin %}
		{% if kid.parents %}
		<h3>Parents</h3>
		<ul class="uk-list">
			{% for parent in kid.parents %}
			<li>{{ parent.person.first_name }} {{ parent.person.last_name }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endif %}
		{% if g.is_admin or g.is_parent %}
		{% if kid.scholarship > 0 or kid.govt > 0 or kid.extra_credit > 0 %}
		<table class="uk-table uk-table-striped uk-table-condensed">
			<caption>Monthly Assistance</caption>
			<tr>
				<td>
					Scholarship
				</td>
				<td>
					<span class="uk-badge">{{ format_price(kid.scholarship) }}</span>
				</td>
			</tr>
			<tr>
				<td>
					Government assistance
				</td>
				<td>
					<span class="uk-badge">{{ format_price(kid.govt) }}</span>
				</td>
			</tr>
			<tr>
				<td>
					Extra credit
				</td> 
				<td>
					<span class="uk-badge">{{ format_price(kid.extra_credit) }}</span>
				</td>
			</tr>
		</table>
		{% endif %}
		{% endif %}
	</div>
</div>

{% if has_calendar %}
<style type="text/css">
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}
</style>
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-2">
		<h2>Choose your Schedule</h2>
		<p>Please schedule for at least one month in advance.</p>
		<div style="margin: 0 auto;" id="calendar-schedule"></div>
		<div class="uk-margin-top">
			<button id="save-calendar-schedule" href="#" class="uk-button uk-button-primary">
				<span id="approve-lock">
					<i class="uk-icon-lock" ></i>
				</span> Save schedule for 
				<span class="approve-month"></span> 
				<span class="approve-year"></span>
			</button>
			<i class="uk-icon-check uk-text-success uk-hidden" style="font-size:20px;"></i>
		</div>
	</div>
	<div class="uk-width-medium-1-2">
		<h2>Current Schedule</h2>
		<ul id="current-date-list" class="uk-list uk-list-line uk-scrollable-box">

		</ul>
	</div>
</div>
{% endif %}
<div id="photo-slideshow-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-slide">
        <a href="" class="uk-modal-close uk-close"></a>
		<div class="uk-slidenav-position">
			<img src="" id="current-slideshow-photo" class="uk-thumbnail" alt="" />
			<!-- <a href="#" class="uk-slidenav uk-slidenav-previous"></a>
			<a href="#" class="uk-slidenav uk-slidenav-next"></a> -->
		</div>	
    </div>
</div>
{% endblock %}

{% if not kid.profile_pic %}
{% block extra_js %}
{% assets "kid_upload" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets "calendar" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/template" id="schedule_day_template">

{% raw %}
<ul class="uk-list weekly-times-list">
	<% _.each(dates,function(item,key,list){ %>
	<li>
		<div data-date="<%= item.date %>" class="uk-width-medium-1-4 date-box date-box-<%= item.day_of_week %>">
			<div class="date-box-content">
				<span class="week-date"><%= item.day_with_date %></span>
				<% if(item.schedule_day){ %>
					<span class="actual-week-day-time"><%= item.schedule_day.start_time %>-<%= item.schedule_day.end_time %></span>
				<% }else{ %>
				<span class="no-time-set">
					<span>None</span>
					<a href="#" class="set-time uk-button uk-button-mini">Set</a>
				</span>
				<div class="set-time-form" style="display:none;">
					<form data-date="<%= item.date %>" class="new-week-day-form uk-form">
						<div class="uk-form-row">
							<input type="text" name="start-time" data-uk-timepicker="{showMeridian:true}" placeholder="from">
						</div>
						<div class="uk-form-row">
							<input type="text" name="end-time" data-uk-timepicker="{showMeridian:true}" placeholder="to">
						</div>
						<div class="uk-form-row">
							<input type="submit" value="Save" class="uk-button uk-button-mini">
						</div>
					</form>
				</div>
				<% } %>
			</div>
		</div>
	</li>
	<% }); %>
</ul>
{% endraw %}

</script>

<script type="text/javascript">
var kid_id = '{{ kid.id }}';
var kid_name = '{{ kid.first_name }}';
var weeklyHourURL = '{{ url_for("back.weekly_hours_view",kid_id=kid.id) }}';
var prevWeekURL = '{{ url_for("back.weekly_hours_by_date_prev_view",kid_id=kid.id) }}';
var nextWeekURL = '{{ url_for("back.weekly_hours_by_date_next_view",kid_id=kid.id) }}';

var a_date = '{{ a_date }}';

$(function(){

	$("#time-list-area").on("submit","form.new-week-day-form",function(e){
		e.preventDefault();
		var $this = $(this);
		var $startTime = $this.attr('data-date') + ' ' + $this.find('input[name="start-time"]').val();
		var $endTime = $this.attr('data-date') + ' ' + $this.find('input[name="end-time"]').val();
		var sendData = {
			'start_time':$startTime,
			'end_time':$endTime,
			'kid':kid_id
		}
		$.post(weeklyHourURL,sendData,function(data){
			if(data.status == 'OK'){
				var newTime = '<span class="actual-week-day-time">' + data.display + '</span>'
				var $thisBoxContent = $this.closest('div.date-box-content');
				$thisBoxContent
					.find('span.no-time-set')
					.remove()
				$thisBoxContent
					.find('div.set-time-form')
					.remove()
				$thisBoxContent
					.append(newTime);
			}
		});
	});

	$("#time-list-area").on("click","a.set-time",function(e){
		e.preventDefault();
		$(this).closest('div.date-box').find(".set-time-form").slideDown(300);
		$(this).hide();
	});

	$("#show-weekly-times-list").on('click',function(e){
		e.preventDefault();
		if($(this).text() == 'Show'){
			$("ul.weekly-times-list").slideDown(300);
			$(this).text('Hide');	
		}else{
			$("ul.weekly-times-list").slideUp(300);
			$(this).text('Show');
		}
		
	});

	$("a.delete-activity").on('click',function(e){
		e.preventDefault();
		if(confirm('Are you sure you want to delete this activity?')){
			$(this).closest('tr').remove();
			$.ajax({
				url:'/' + school + '/activities/' + $(this).attr('data-id') + '/',
				type:'DELETE',
				success:function(data){
					console.log('did it',data);
				}
			});
		}
	});

	$("#send-daily-sheet").on("click",function(e){
		e.preventDefault();
		var sendDailySheetURL = '{{ url_for('back.daily_sheet_mail',kid_id=kid.id) }}';
		$.post(sendDailySheetURL,function(data){
			if(data.status == 'OK'){
				alertWarning('Daily sheet send successfully.');
			}else{
				alertWarning('Daily sheet was not sent. There was a problem. Try again later.');
			}
		})
	});

	$("a.remove-kid-pic").on('click',function(e){
		e.preventDefault();
		var kidRemoveFileURL = '{{url_for('back.kids_remove_file',kid_id=kid.id)}}';
		$.post(kidRemoveFileURL,function(data){
			console.log(data);
			if(data.status == 'OK'){
				$("#profile-pic-img").remove();
				$("#profile-pic-area").show();
			}
		});
	});

	$("#approve-lock").hide()

	var currentLockedMonths = {{locked_months | safe}};

	Date.prototype.addDays = function(days) {
       var dat = new Date(this.valueOf())
       dat.setDate(dat.getDate() + days);
       return dat;
   }

	function firstLastDay(monthSet){
		var date = new Date();
		date.setMonth(monthSet)
		var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
		var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
		return {
			firstDay:firstDay,
			lastDay:lastDay
		}
	}

	function getDates(startDate, stopDate) {
	  var dateArray = new Array();
	  var currentDate = startDate;
	  while (currentDate <= stopDate) {
	    dateArray.push(currentDate)
	    currentDate = currentDate.addDays(1);
	  }
	  return dateArray;
	}

	$("#send-kid-message-show-page").on('click',function(e){
		e.preventDefault();
		$("#message_kid").val(kid_id);
		$("#message-who").empty().append('<option value="kid"></option>');
		$("#message-to").text('the parents of ' + kid_name)
		$("#message-center").trigger('open');
	});

	{% if has_calendar %}
	var dates = {{ cal_days | safe }};
	{% else %}
	var dates = [];
	{% endif %}

	var postURL = '/{{ g.current_school.u_name }}/attendance/';
	var currentUser = '{{ current_user.id }}';
	var monthsToDisable = [];
	var disableMonths = function(date){
		var month = date.getMonth();
		if ($.inArray(month, monthsToDisable) != -1) {
		    return [false];
		}
		return [true];	
	}

	$(".sign-out-kid").on('click',function(e){
		signInOutKid(0);
	});
	$(".sign-in-kid").on('click',function(e){
		signInOutKid(1);
	});

	var signInOutKid = function(status){
		$.post(postURL,{kid:'{{ kid.id }}',
			parent:currentUser,
			status:status
		},function(data){
			location.reload();
			$("body").stop().css("background-color", "#FFFF9C")
				.animate({ "background-color": "#FFFFFF"}, 1500);
		});	
	}

	var populateDateList = function(){
		var s = '';
		$("#current-date-list").empty();
		if(!currentDates.length){
			$("#current-date-list").append('<li>No times yet</li>')
		}
		for(s in currentDates){
			var thisDate = currentDates[s];
			var month = new Date(thisDate).getMonth() + 1;
			var lock = currentLockedMonths.indexOf(month) != -1 ? 'class="lock-schedule"' : '' ;
			$("#current-date-list").append('<li ' + lock + '>' + thisDate + '</li>')
		}
	}

	var currentTime = new Date() 
	var minDate = new Date();
	var maxDate =  new Date(currentTime.getFullYear(), currentTime.getMonth() +3, -1);

	var monthNames = ["January","February","March","April","May","June","July","August","September","October","November","December"];

	$("span.approve-month").text(monthNames[new Date().getMonth()]);

	var changeMonthYear = function(year,month){
		currentYear = year;
		currentMonth = month;
		$("span.approve-month").text(monthNames[currentMonth-1]);
		$("span.approve-year").text(currentYear);
		$("i.uk-icon-check").addClass('uk-hidden');
		if(currentLockedMonths.indexOf(currentMonth) != -1){
			$("#save-calendar-schedule").prop('disabled',true);
			$("#approve-lock").show();
		}else{
			$("#save-calendar-schedule").prop('disabled',false);
			$("#approve-lock").hide();
		}
	}

	$("#calendar-schedule").multiDatesPicker({
		onChangeMonthYear: changeMonthYear,
		beforeShowDay: disableMonths,
		hideIfNoPrevNext: true,
		minDate:minDate,
		maxDate:maxDate
	});

	var s = '';
	for(s in currentLockedMonths){
		var firstlast = firstLastDay(parseInt(currentLockedMonths[s]) - 1);
		var newDates = getDates(firstlast.firstDay,firstlast.lastDay);
		$("#calendar-schedule").multiDatesPicker({'addDisabledDates':newDates})	
	}

	if(dates.length){
		$('#calendar-schedule').multiDatesPicker('addDates', dates);	
	}
	
	currentDates = dates;

	var alertWarning = function(message){
		$("#drop-warning")
			.html(message)
	    	.removeClass('uk-hidden')
	    	.delay(30000)
	    	.slideUp();
	}

	$("#save-calendar-schedule").on('click',function(e){
		e.preventDefault();
		var dates = $('#calendar-schedule').multiDatesPicker('getDates');
		var sendData = {
			dates : JSON.stringify(dates),
			kid_id : kid_id,
			month: currentMonth,
			year : currentYear
		}
		currentDates = dates;
		populateDateList();
		var $this = $(this);
		$this.hide()
		$this.parent().find('i').addClass('uk-hidden');
		$this.parent().append('<i class="uk-icon-refresh uk-icon-spin"></i>');
		$.post('/' + school + '/schedules/calendar/set/',sendData,function(data){
			$this.show();
			$this.parent().find('i.uk-icon-refresh').remove();
			if(data.result == 'OK'){
				$this.parent().find('i.uk-icon-check').removeClass('uk-hidden');
			}
		});
	});

	$("#prev-week").on('click',function(e){
		e.preventDefault();
		var sendData = {'week_date':a_date};
		$.post(prevWeekURL,sendData,function(data){
			data = $.parseJSON(data);
			a_date = data[0].date_dash;
			var obj = {dates:data};
			var scheduleTemplate = _.template($("#schedule_day_template").html());
			$("ul.weekly-times-list").remove();
			$("#time-list-area").append(scheduleTemplate({dates:data}))
		});
	});

	$("#next-week").on('click',function(e){
		e.preventDefault();
		var sendData = {'week_date':a_date};
		$.post(nextWeekURL,sendData,function(data){
			data = $.parseJSON(data);
			a_date = data[0].date_dash;
			var obj = {dates:data};
			var scheduleTemplate = _.template($("#schedule_day_template").html());
			$("ul.weekly-times-list").remove();
			$("#time-list-area").append(scheduleTemplate({dates:data}))
		});
	});

	var progressbar = $("#progressbar"),
		bar         = progressbar.find('.uk-progress-bar'),
		settings    = {

			action: '/' + school + '/kids/' + kid_id + '/upload/activity/file/', // upload url

			allow : '*.(jpg)', // allow only images

			loadstart: function() {
				bar.css("width", "0%").text("0%");
				progressbar.removeClass("uk-hidden");
			},

			progress: function(percent) {
				percent = Math.ceil(percent);
				bar.css("width", percent+"%").text(percent+"%");
			},

			allcomplete: function(response) {

				bar.css("width", "100%").text("100%");
				response = $.parseJSON(response);
				console.log('response',response);
				if(response.status == 'OK'){
					var $newImg = $('<div class="kid-photo"><a href="#photo-slideshow-modal" data-url="' + response.large + '" data-uk-modal class="photo-slideshow-link"><img data-id="' + response.id + '" class="uk-thumbnail" src="' + response.pic + '" /></a></div>');
					$('p.no-photos-message').remove();
					$("#kid-photos").append( $newImg ).masonry( 'appended', $newImg );
				}

				setTimeout(function(){
				    progressbar.addClass("uk-hidden");
				}, 250);
			}
		};

	var select = new $.UIkit.upload.select($("#upload-select"), settings),
		drop   = new $.UIkit.upload.drop($("#upload-drop"), settings);


	var $container = $('#kid-photos');
	// initialize
	$container.imagesLoaded( function() {
		$container.masonry({
			columnWidth: 100,
			itemSelector: '.kid-photo'
		});
	})

	$("body").on('click',"a.photo-slideshow-link",function(e){
		$("#current-slideshow-photo").attr('src','{{ url_for('static',filename='img/loading.gif') }}');
		$.getJSON($(this).attr('data-url'),function(data){
			console.log(data);
			if(data.status == 'OK'){
				$("#current-slideshow-photo").attr('src',data.pic);
				// $("#current-slideshow-photo").show();
			}
		});
	});

	populateDateList();
	
})
</script>

{% endblock %}
{% endif %}