{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Edit {{ kid.first_name }} {{ kid.last_name }}</h1>
		{% if g.is_admin %}
		<form action="/{{g.current_school.u_name}}/kids/edit/{{ kid.id }}/" method="POST" name="kids_form" id="kid-form" class="uk-form uk-form-stacked">
			{{ kids_form.hidden_tag() }}
			<fieldset>
				{{ render_field_with_errors(kids_form.first_name,sr='only') }}
				{{ render_field_with_errors(kids_form.middle_name,sr='only') }}
				{{ render_field_with_errors(kids_form.last_name,sr='only') }}
				{{ render_field_with_errors(kids_form.parents,sr='only') }}
				{% if highlight_group %}<div class="hightlight">{% endif %}
					{{ render_field_with_errors(kids_form.groups,sr='only') }}
				{% if highlight_group %}</div>{% endif %}
				{{ render_field_with_errors(kids_form.allergens,sr='only') }}
				{{ render_field_with_errors(kids_form.scholarship,pre='$') }}
				{{ render_field_with_errors(kids_form.govt,pre='$') }}
				{{ render_field_with_errors(kids_form.extra_credit,pre='$') }}
				{{ render_field_with_errors(kids_form.hold,sr='only') }}
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>

				<div class="uk-form-row">
					<a href="#" id="delete-kid-with-confirm" class="uk-button-mini uk-button uk-button-danger">Delete {{ kid.first_name }}</a>
				</div>

			</fieldset>
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(function(){
	var homeURL = '{{ url_for('back.home') }}';
	$("#delete-kid-with-confirm").on("click",function(e){
		e.preventDefault();
		if(confirm('Are you sure that you want to delete {{ kid.first_name }}? This is permanent and cannot be reversed.')){
			$.ajax({
				url:'{{ url_for('back.kids_show',kid_id=kid.id) }}',
				type:'DELETE'
			})

			.done(function(data){
				if(data == 'OK'){
					alert('{{ kid.first_name }} was successfully deleted. We will now redirect you back to the dashboard.')
					window.location.replace(homeURL);
				}
			});
		}
	});
});
</script>
{% endblock %}