{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<h1>New activity for {{ kid.first_name }} {{ kid.last_name }}</h1>
{% if kid.profile_pic_med %}
<img class="uk-thumbnail" src="{{ kid.profile_pic_smallish }}">
{% endif %}
<h3 id="activity-selection"></h3>
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<form action="/{{g.current_school.u_name}}/kids/{{ kid.id }}/activities/new/" method="POST" name="kid_activity_new_form" id="kid-activity-new-form" class="uk-form">
			{{ activity_form.hidden_tag() }}
			<div id="activity-description-input">
				{{ render_field_with_errors(activity_form.description,sr='only') }}
				{{ render_field_with_errors(activity_form.activity_type,sr='only',hidden='true') }}
			</div>
			<div class="uk-form-row uk-margin">
				<input type="submit" class="uk-button uk-button-primary" value="Save">
			</div>
		</form>
	</div>
</div>
<div class="uk-grid" data-uk-grid-margin="">
	{% for activity_type in activity_types %}
	<div class="uk-width-medium-1-3 uk-width-1-2">
		<a href="#" data-id="{{activity_type.id}}" class="uk-button-expand uk-button uk-button-large activity-choice">{{ activity_type.name }}</a>
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function(){
	$("a.activity-choice").on('click',function(e){
		e.preventDefault();
		var $this = $(this);
		$("select#activity_type").val($this.attr('data-id'));
		$("#activity-selection").html('Selection: ' + $this.html())
	})
});
</script>
{% endblock %}