{% extends "back/dash_layout.html" %}
{% block dash_content %}
<h1>There are no bills here yet</h1>
<a href="{{ url_for('back.home') }}" class="uk-button uk-button-primary">Go back</a>
{% if kid %}
<div class="uk-margin-top">
	<form class="uk-form" id="goto-month-form">
		<fieldset>
			<input type="text" id="goto-month" placeholder="MM" style="width:40px;">
			<input type="text" id="goto-year" placeholder="YYYY" style="width:70px;">
			<input type="submit" class="uk-button uk-button-small" value="Go">
		</fieldset>
	</form>
</div>
{% endif %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(function(){
	$("#goto-month-form").submit(function(e){
		e.preventDefault()
		var gotoMonth = parseInt($("#goto-month").val());
		var gotoYear = parseInt($("#goto-year").val());
		gotoMonth = isNaN(gotoMonth) ? 1 : gotoMonth;
		gotoYear = isNaN(gotoYear) ? 1 : gotoYear;
		location.href = '/' + school + '/bills/to/{{ kid.id }}/from/' + gotoMonth + '/' + gotoYear +'/'
		return false;
	})
})
</script>

{% endblock %}
