{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Orders</h1>
		<a href="#" class="uk-button uk-button-small js-expander {% if errors %}js-expanded{% endif %}" data-connect="#order-form"><i class="uk-icon-star"></i> New order</a>
		<form id="order-form" method="POST" action="{{ url_for('back.orders') }}" class="uk-form js-expander-content">
			{{ order_form.hidden_tag() }}
			<fieldset>
				{{ render_field_with_errors(order_form.title,sr='only') }}
				{{ render_field_with_errors(order_form.content,sr='only') }}
				{{ render_field_with_errors(order_form.order_type,sr='only') }}
				{{ render_field_with_errors(order_form.due_date,sr='only') }}
				{{ render_field_with_errors(order_form.assignee,sr='only') }}
				{{ render_field_with_errors(order_form.tags,sr='only') }}
				{{ render_field_with_errors(order_form.priority,sr='only') }}
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Create order">
				</div>
			</fieldset>
		</form>
		<ul class="uk-tab" data-uk-tab="{connect:'#order-tabs'}">
			<li class="uk-active"><a href="#">All ({{ orders | length }})</a></li>
			<li><a href="#">Open ({{ open_orders | length }})</a></li>
			<li><a href="#">Completed ({{ completed_orders | length }})</a></li>
		</ul>
		<ul id="order-tabs" class="uk-switcher uk-margin">
			<li>
				<h2>All orders</h2>
				{% if not orders %}
				<p class="uk-text-danger">You don't have any orders yet. Create one above.</p>
				{% else %}
				<table class="uk-table">
					<thead>
						<th></th>
						<th>Title</th>
						<th>Assignee</th>
						<th class="uk-hidden-small uk-hidden-medium">Status</th>
						<th class="uk-hidden-small uk-hidden-medium">Due Date</th>
						<th class="uk-hidden-small uk-hidden-medium">Comments</th>
						<th></th>
					</thead>
					{% for order in orders %}
					<tr {% if order.status == 1 %}class="closed-order"{% else %}class="open-order"{% endif %}>
						<td>
						{% if order.order_type.name == 'Maintenance Order' %}
						<i class="uk-icon-cogs" ></i>
						{% else %}
						<i class="uk-icon-money" ></i>
						{% endif %}
						</td>
						<td style="text-align:left">{{ order.title }}</td>
						<td>{{ order.assignee.person.full_name }}</td>
						<td class="uk-hidden-small uk-hidden-medium">{% if order.status == 1 %}<span class="uk-badge uk-badge-success">COMPLETE</span>{% else %}<span class="uk-badge uk-badge-warning">OPEN</span>{% endif %}</td>
						<td class="uk-hidden-small uk-hidden-medium">{{ order.display_time }}</td>
						<td class="uk-hidden-small uk-hidden-medium">{{ order.order_comments.count() }}</td>
						<td>
							<a href="{{ url_for('back.orders_single',order_id=order.id) }}" class="uk-button uk-button-small">View</a>
						</div>
						</td>
					</tr>
					{% endfor %}
				</table>
				{% endif %}
			</li>
			<li>
				<h2>Open orders</h2>
				{% if not open_orders %}
				<p class="uk-text-danger">You don't have any open orders. Create one above.</p>
				{% else %}
				<table class="uk-table">
					<thead>
						<th>Title</th>
						<th>Assignee</th>
						<th class="uk-hidden-small uk-hidden-medium">Status</th>
						<th class="uk-hidden-small uk-hidden-medium">Due Date</th>
						<th class="uk-hidden-small uk-hidden-medium">Comments</th>
						<th></th>
					</thead>
					{% for order in open_orders %}
					<tr {% if order.status == 1 %}class="closed-order"{% else %}class="open-order"{% endif %}>
						<td style="text-align:left">{{ order.title }}</td>
						<td>{{ order.assignee.person.full_name }}</td>
						<td class="uk-hidden-small uk-hidden-medium">{% if order.status == 1 %}<span class="uk-badge uk-badge-success">COMPLETE</span>{% else %}<span class="uk-badge uk-badge-warning">OPEN</span>{% endif %}</td>
						<td class="uk-hidden-small uk-hidden-medium">{{ order.display_time }}</td>
						<td class="uk-hidden-small uk-hidden-medium">{{ order.order_comments.count() }}</td>
						<td>
							<a href="{{ url_for('back.orders_single',order_id=order.id) }}" class="uk-button uk-button-small">Open</a>
						</div>
						</td>
					</tr>
					{% endfor %}
				</table>
				{% endif %}
			</li>
			<li>
				<h2>Completed orders</h2>
				{% if not completed_orders %}
				<p class="uk-text-danger">You don't have any completed orders. Create one above.</p>
				{% else %}
				<table class="uk-table">
					<thead>
						<th>Title</th>
						<th>Assignee</th>
						<th class="uk-hidden-small uk-hidden-medium">Status</th>
						<th class="uk-hidden-small uk-hidden-medium">Due Date</th>
						<th class="uk-hidden-small uk-hidden-medium">Comments</th>
						<th></th>
					</thead>
					{% for order in completed_orders %}
					<tr {% if order.status == 1 %}class="closed-order"{% else %}class="open-order"{% endif %}>
						<td style="text-align:left">{{ order.title }}</td>
						<td>{{ order.assignee.person.full_name }}</td>
						<td class="uk-hidden-small uk-hidden-medium">{% if order.status == 1 %}<span class="uk-badge uk-badge-success">COMPLETE</span>{% else %}<span class="uk-badge uk-badge-warning">OPEN</span>{% endif %}</td>
						<td class="uk-hidden-small uk-hidden-medium">{{ order.display_time }}</td>
						<td class="uk-hidden-small uk-hidden-medium">{{ order.order_comments.count() }}</td>
						<td>
							<a href="{{ url_for('back.orders_single',order_id=order.id) }}" class="uk-button uk-button-small">Open</a> 
						</div>
						</td>
					</tr>
					{% endfor %}
				</table>
				{% endif %}
			</li>
		</ul>
	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(function(){
	$('#tags').selectize({
	    delimiter: ',',
	    persist: false,
	    create: function(input) {
	        return {
	            value: input,
	            text: input
	        }
	    }
	});
});
</script>
{% endblock %}