{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1 order-toolbar">
		<a href="{{ url_for('back.orders') }}" class="uk-button uk-button-small uk-button-primary">Back to orders</a>
		<!-- <a href="#" class="uk-button uk-button-small">Edit</a> -->
		{% if order.status == 1 %}
		<a href="#" id="order-mark-open" data-status="0" class="uk-button uk-button-small">Mark as open</a>
		<a href="#" id="order-mark-complete" data-status="1" class="uk-button uk-button-small" style="display:none;">Mark as complete</a>
		{% else %}
		<a href="#" id="order-mark-complete" data-status="1" class="uk-button uk-button-small">Mark as complete</a>
		<a href="#" id="order-mark-open" data-status="0" class="uk-button uk-button-small" style="display:none;">Mark as open</a>
		{% endif %}
	</div>
	<div class="uk-width-medium-3-4">
		<h1>{{ order.title }}</h1>
		<div class="order-details-section">
			<p class="order-details-title">Details</p>
			<p>{{ order.content }}</p>
		</div>
		<div class="order-comments-section">
			<p class="order-comments-title">Comments (<span id="order-comment-count">{{ order.order_comments.count() }}</span>)</p>
			{% if not order.order_comments.all() %}
			<p class="no-order-comments">No comments yet!</p>
			<div class="order-comments-list">
			</div>
			{% else %}
			<div class="order-comments-list">
				{% for comment in order.order_comments.all() %}
				
				<div class="order-comment-single">
					<div class="order-comment-header-info">{{ comment.author.person.full_name }} <span class="order-comment-time">{{ comment.display_created_at }}</span></div>
					<div class="order-comment-content">{{ comment.content }}</div>
				</div>
				{% endfor %}
			</div>
			{% endif %}
			<form class="uk-form" method="POST" action="{{ url_for('back.orders_comment',order_id=order.id) }}" style="display:none;" name="comment-form" id="comment-form">
				{{ comment_form.hidden_tag() }}
				<fieldset>
					{{ render_field_with_errors(comment_form.content,sr='only') }}
				</fieldset>
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Send">
				</div>
			</form>
			<a href="#" id="order-comment-button" class="uk-button">Comment</a>
		</div>
	</div>
	<div class="uk-width-medium-1-4" style="text-align:left;">
		<div class="uk-panel uk-panel-box">
			{% if order.order_type.name == 'Maintenance Order' %}
			<i class="uk-icon-cogs" ></i>
			{% else %}
			<i class="uk-icon-money" ></i>
			{% endif %}
			<dl class="uk-description-list uk-description-list-line">
				<dt>Assigned to:</dt> 
				<dd>{{ order.assignee.person.full_name }}</dd>
				<dt>Due:</dt>
				<dd>{{ order.display_time }}</dd>
				<dt>Type:</dt> 
				<dd>{{ order.order_type.name }}</dd>
				<dt>Created:</dt> 
				<dd>{{ order.display_created_at }}</dd>
				<dt>Updated:</dt> 
				<dd>{{ order.display_updated_at }}</dd>
				<dt>Status:</dt> 
				<dd>{% if order.status == 1 %}
					<span id="complete-badge" class="uk-badge uk-badge-success">COMPLETE</span>
					<span id="open-badge" class="uk-badge uk-badge-warning" style="display:none;">OPEN</span>
					{% else %}
					<span id="open-badge" class="uk-badge uk-badge-warning">OPEN</span>
					<span id="complete-badge" class="uk-badge uk-badge-success" style="display:none;">COMPLETE</span>
					{% endif %}</dd>
				<dt>Tags:</dt>
				<dd>
					{% if not order.order_tags.all() %}
					None
					{% else %}
					{% for tag in order.order_tags.all() %}
					<span class="uk-badge">{{ tag.name }}</span>
					{% endfor %}
					{% endif %}
				</dd>
			</dl>
		</div>
	</div>
</div>
<script type="text/html" id="single-comment">
<div class="order-comment-single">
	<div class="order-comment-header-info"><%=this.author%> 
		<span class="order-comment-time"><%=this.created_at%></span>
	</div>
	<div class="order-comment-content"><%=this.content%></div>
</div>
</script>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/tmpl.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/helpers.js') }}"></script>
<script type="text/javascript">
$(function(){
	$("#order-comment-button").on('click',function(e){
		e.preventDefault();
		$(this).hide();
		$("#comment-form").show();
	});

	$("#order-mark-complete,#order-mark-open").on('click',function(e){
		e.preventDefault();

		$.ajax({
			type: 'POST',
			url: '{{ url_for('back.orders_single',order_id=order.id) }}',
			contentType: 'application/json',
			data:JSON.stringify({'status':$(this).attr('data-status')}),
			dataType:'json',
			success: function(data){
				if(data.result == 'OKAY'){
					if(data.status == "1"){
						$("#complete-badge").show();
						$("#open-badge").hide();
						$("#order-mark-open").show();
						$("#order-mark-complete").hide();
					}else{
						$("#complete-badge").hide();
						$("#open-badge").show();
						$("#order-mark-open").hide();
						$("#order-mark-complete").show();
					}
				}
			}
		})
	})

	$("#comment-form").submit(function(e){
		e.preventDefault();
		var sendData = FormHelper.parseForm($(this));
		console.log('send data',sendData);
		$.ajax({ 
			type: 'POST', 
			url: $(this).attr('action'), 
			contentType: 'application/json',
			data: sendData, 
			dataType: 'json',
			success: function (data) { 
				if(data.response != 'OKAY'){
					$("p.errors").remove();
					$("#content").parent().append('<p class="uk-text-danger errors">' + data.errors.content.join(',') + '</p>');
				}else{
					$("p.errors").remove();
					$("div.order-comments-list").append($("#single-comment").jqote({
						author:data.comment.author,
						created_at:data.comment.created_at,
						content:data.comment.content
					}));
					$("p.no-order-comments").remove();
					
					$("#content").val('');
					$("#comment-form").hide();
					$("#order-comment-button").show();
					var $orderCommentCount = parseInt($("#order-comment-count").text());
					$("#order-comment-count").text(++$orderCommentCount);
				}
			}
		});
	});
});

</script>
{% endblock %}