{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		{% if current_user.pending %}
		<h4>Your request has been submitted. <br >You'll get an email once they accept/deny your request.</h4>
		<h4>Once {{ g.current_school.name }} accepts your request you can start!</h4>
		{% else %}
		<h1>Your kids</h1>
		<a href="#" class="uk-button uk-button-small js-expander {% if errors %}js-expanded{% endif %}" data-connect="#kid-form" >New kid</a>
		<form action="/{{g.current_school.u_name}}/kids/" method="POST" name="kids_form" id="kid-form" class="uk-form js-expander-content">
			{{ kids_form.hidden_tag() }}
			<fieldset>
					{{ render_field_with_errors(kids_form.first_name,sr='only') }}
					{{ render_field_with_errors(kids_form.middle_name,sr='only') }}
					{{ render_field_with_errors(kids_form.last_name,sr='only') }}
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>
			</fieldset>
		</form>
			{% if not current_user.kids.all() | length %}
			<p>You do not have any kids here yet.</p>
			{% else %}
				<div class="uk-grid uk-margin-top">
					{% for kid in current_user.kids %}
						<div class="uk-width-medium-1-3 {% if loop.index > 3 %}uk-grid-margin {% endif %}uk-container-center uk-text-center">
							<a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">							
								<div class="uk-panel uk-panel-box kid-panel" style="height:200px;">
									<h3 class="uk-panel-title">{{ kid.first_name }} {{ kid.last_name }}</h3>
									{% if kid.profile_pic_smallish %}
									<img src="{{ kid.profile_pic_smallish }}" class="uk-thumbnail">
									{% else %}
									<i class="uk-icon-user" style="font-size:130px;"></i>
									{% endif %}
									{% if kid.status == 1 %}
									<div><span class="uk-badge in-out-badge uk-badge-success">IN</span></div>
									{% else %}
									<div><span class="uk-badge in-out-badge uk-badge-danger">OUT</span></div>
									{% endif %}
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}