{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Financial Assistance Report</h1>
		<table class="uk-table uk-table-striped" id="report-table">
			<tr>
				<td >Average scholarship</td>
				<td>{% if avg_scholarship %}{{ format_price(avg_scholarship) }}{% else %}None{% endif %}</td>
			</tr>
			<tr>
				<td>Total scholarship</td>
				<td>{% if sum_scholarship %}{{ format_price(sum_scholarship) }}{% else %}None{% endif %}</td>
			</tr>

			<tr>
				<td>Total kids with scholarships</td>
				<td>{% if scholarship_count %}{{ scholarship_count }}{% else %}None{% endif %}</td>
			</tr>

			<tr>
				<td>Average government assistance</td>
				<td>{% if avg_govt %}{{ format_price(avg_govt) }}{% else %}None{% endif %}</td>
			</tr>

			<tr>
				<td>Total government assistance</td>
				<td>{% if sum_govt %}{{ format_price(sum_govt) }}{% else %}None{% endif %}</td>
			</tr>

			<tr>
				<td>Total kids with government assistance</td>
				<td>{% if govt_count %}{{ govt_count }}{% else %}None{% endif %}</td>
			</tr>

		</table>
	</div>
	<div class="uk-width-medium-1-1">
		<h1>Attendance Report</h1>
		<form class="uk-form" action="{{ url_for('back.attendance_download') }}" method="GET">
			{{ attendance_download_form.hidden_tag() }}
			{{ render_field_with_errors(attendance_download_form.from_attendance,sr='only') }}
			<p>TO</p>
			{{ render_field_with_errors(attendance_download_form.to_attendance,sr='only') }}
			<div class="uk-form-row">
				<input type="submit" value="Download Attendance Report" class="uk-button uk-button-small">
			</div>
		</form>
	</div>

	<div class="uk-width-medium-1-1">
		<h1>Attendance Graph</h1>
		<p>See how many kids are coming each hour. So you can staff better</p>
		<a href="{{ url_for('back.attendance_reports') }}" class="uk-button uk-button-small">Attendance Graph By Hour</a>
	</div>
</div>
{% endblock %}