{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Edit Prices for {{ schedule.name }}</h1>
		<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
			<thead>
				<th>Price</th>
				<th>Duration</th>
				<th>Group</th>
				<th>Action</th>
			</thead>
			<tbody>
			{% for price in schedule.prices %}
				<tr>
					<td class="price"><span class="price">{{ format_price(price.price) }}</span> <span class="late-price">({{ format_price(price.late_price) }} late fee)</span></td>
					<td class="billing-duration">Every <span class="duration">{{ price.billing_duration }}</span> <span class="unit">{{ billing_units[price.billing_unit] }}</span></td>
					<td>{{ price.group.name }}</td>
					<td><a href="#" id="open-price-modal" data-id="{{ price.id }}" class="edit-price uk-button uk-button-small">Edit</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<a href="{{ url_for('back.schedules') }}" class="uk-button uk-button-primary">Back to schedules</a>
	</div>
</div>

<div id="edit-price-modal" class="uk-modal">
	<div class="uk-modal-dialog">
		<a href="#" class="uk-modal-close uk-close"></a>
		<h3>Edit Price</h3>
		<p id="price-edit-form"></p>
	</div>
</div>

{% endblock %}
{% block extra_js %}
<script type="text/javascript">
var schoolID = '{{ g.current_school.u_name }}';
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/price-edit.js') }}"></script>
{% endblock %}