{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "back/_admin_macros.html" import hour_picker %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Schedule Setup</h1>
		<p>Your school can setup as many different schedules for parents to sign up for. You can setup many schedules of the same type. For example if you want parents to choose between 9-5 or 11-3, you could make two "between these hours" schedules.</p>
		<p>What type of schedule would you like to setup first?</p>
		<div class="uk-grid">
			<div class="uk-width-medium-1-4 uk-width-small-1-1">
				<div class="uk-panel uk-panel-box uk-margin">
					<ul class="uk-nav uk-nav-side" data-uk-switcher="{connect:'#schedule-switcher'}">
						<li class="uk-active">
							<a href="#">Between these Hours</a>
						</li>
						<li {% if g.current_school.one_for_all_schedule %}class="uk-hidden"{% endif %}>
							<a href="#">One Schedule Fits All</a>
						</li>
						<li {% if g.current_school.calendar_schedule %}class="uk-hidden"{% endif %}>
							<a href="#">Pick and Choose Days</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="uk-width-medium-3-4 uk-width-small-1-1">
				<div class="uk-panel uk-panel-box uk-margin-top">
					<ul id="schedule-switcher" class="uk-switcher">
						<li>
							<p>Schedule where parents can drop off and pickup their child anytime between the hours you assign.</p>
							{{ hour_picker(url_for('back.schedules_between'),between_hours_form,'between-hours-form') }}
						</li>
						<li>
							<p>Parents can drop off their children anytime and pick them up anytime. One price of all.</p>
							<form class="uk-form" action="/{{g.current_school.u_name}}/schedules/one_for_all/" method="POST" name="one_for_all_form" id="one-for-all-form" class="uk-form">
								{{ one_for_all_form.hidden_tag() }}
								{{ render_field_with_errors(one_for_all_form.name,sr='only') }}
								<div class="uk-form-row uk-margin-top">
									<input type="submit" class="uk-button uk-button-primary" value="Create Schedule">
								</div>
							</form>
						</li>
						<li>
							<p>Parents are given a calendar and they choose which days their children come in.</p>
							<form class="uk-form" action="/{{g.current_school.u_name}}/schedules/calendar/" method="POST" name="calendar_form" id="calendar-form" class="uk-form">
								{{ calendar_form.hidden_tag() }}
								{{ render_field_with_errors(calendar_form.name,sr='only') }}
								<div class="uk-form-row uk-margin-top">
									<input type="submit" class="uk-button uk-button-primary" value="Create Calendar Schedule">
								</div>
							</form>
						</li>
						<li>
							<p>Your school charges per hour. Period.</p>
							<form class="uk-form" action="/{{g.current_school.u_name}}/schedules/hourly/" method="POST" name="hourly_form" id="hourly-form" class="uk-form">
								{{ hourly_form.hidden_tag() }}
								{{ render_field_with_errors(hourly_form.name,sr='only') }}
								<div class="uk-form-row uk-margin-top">
									<input type="submit" class="uk-button uk-button-primary" value="Create Schedule">
								</div>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/schedules.js') }}"></script>
{% endblock %}