{% extends "back/dash_layout.html" %}
{% block extra_css %}
<style type="text/css">
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}
</style>
{% assets "css_calendar" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">

	<div class="uk-width-medium-1-1">

		<h1>Schedules</h1>
		{% if g.current_school.school_hours.name %}
		<a href="{{ url_for('back.schedules_new') }}" class="uk-button uk-button-small">Create a Schedule</a>
		<p class="uk-text-success">Click Create a Schedule to get started</p>
		{% else %}
		<p class="uk-text-danger">Once you setup your school hours you will have other scheduling available to you</p>
		{% endif %}

		<ul class="uk-tab uk-margin-top" data-uk-tab="{connect:'#tab-content'}">
			<li class="uk-active"><a href="#">School Hours</a></li>
			{% if g.current_school.school_hours.name %}
			<li><a href="#">Between Hours Schedules</a></li>
			<li><a href="#">One For All Schedules</a></li>
			<li><a href="#">Pick and Choose Schedules</a></li>
			{% endif %}
		</ul>

		<ul id="tab-content" class="uk-switcher uk-margin">
			<li>
				{% if not g.current_school.school_hours.name %}
				<p>You do not have any school hours set yet.</p>
				<a href="{{ url_for('back.schedules_school_hours') }}" class="uk-button uk-button-primary uk-button-small">Setup school hours</a>
				{% else %}
				<ul class="uk-list days-hours-list uk-list-striped">
					{% if not g.current_school.school_hours.closed_mon %}
					<li>Mon {{ g.current_school.school_hours.mon_start.strftime('%I:%M %p').lstrip('0') }} - {{ g.current_school.school_hours.mon_end.strftime('%I:%M %p').lstrip('0') }}</li>
					{% else %}
					<li>Mon <strong>CLOSED</strong></li>
					{% endif %}

					{% if not g.current_school.school_hours.closed_tues %}
					<li>Tues {{ g.current_school.school_hours.tues_start.strftime('%I:%M %p').lstrip('0') }} - {{ g.current_school.school_hours.tues_end.strftime('%I:%M %p').lstrip('0') }}</li>
					{% else %}
					<li>Tues <strong>CLOSED</strong></li>
					{% endif %}
					
					{% if not g.current_school.school_hours.closed_weds %}
					<li>Weds {{ g.current_school.school_hours.weds_start.strftime('%I:%M %p').lstrip('0') }} - {{ g.current_school.school_hours.weds_end.strftime('%I:%M %p').lstrip('0') }}</li>
					{% else %}
					<li>Weds <strong>CLOSED</strong></li>
					{% endif %}
					
					{% if not g.current_school.school_hours.closed_thurs %}
					<li>Thurs {{ g.current_school.school_hours.thurs_start.strftime('%I:%M %p').lstrip('0') }} - {{ g.current_school.school_hours.thurs_end.strftime('%I:%M %p').lstrip('0') }}</li>
					{% else %}
					<li>Thurs <strong>CLOSED</strong></li>
					{% endif %}
					
					{% if not g.current_school.school_hours.closed_fri %}
					<li>Fri {{ g.current_school.school_hours.fri_start.strftime('%I:%M %p').lstrip('0') }} - {{ g.current_school.school_hours.fri_end.strftime('%I:%M %p').lstrip('0') }}</li>
					{% else %}
					<li>Fri <strong>CLOSED</strong></li>
					{% endif %}

					{% if not g.current_school.school_hours.closed_sat %}
					<li>Sat {{ g.current_school.school_hours.sat_start.strftime('%I:%M %p').lstrip('0') }} - {{ g.current_school.school_hours.sat_end.strftime('%I:%M %p').lstrip('0') }}</li>
					{% else %}
					<li>Sat <strong>CLOSED</strong></li>
					{% endif %}

					{% if not g.current_school.school_hours.closed_sun %}
					<li>Sun {{ g.current_school.school_hours.sun_start.strftime('%I:%M %p').lstrip('0') }} - {{ g.current_school.school_hours.sun_end.strftime('%I:%M %p').lstrip('0') }}</li>
					{% else %}
					<li>Sun <strong>CLOSED</strong></li>
					{% endif %}
				</ul>
				<p>
					<a href="#" id="reset-school-hours" class="uk-button uk-button-small">Reset/Change School Hours</a>
				</p>
				{% endif %}
			</li>

			<li>
				{% if not g.current_school.between_schedules.all() | length %}
				<p>Use this schedule if you charge for kids coming between certain hours of the day</p>
				<p>You do not have any "Between these hours" schedules created yet</p>
				{% else %}
				<table class="schedule-table uk-table uk-table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Schedule</th>
							<th>Prices</th>
							<th>Kids</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for between_schedule in g.current_school.between_schedules.all() %}
						<tr>
							<td><strong>{{ between_schedule.name }}</strong></td>
							<td>
								<a href="{{ url_for('back.schedules_edit_days', schedule_id=between_schedule.id, schedule_type='between_hours') }}" class="uk-button uk-button-small">Edit hours</a>
								<ul class="uk-list days-hours-list">
									{% if not g.current_school.school_hours.closed_mon and not between_schedule.closed_mon %}
									<li>M {{ between_schedule.mon_start.strftime('%I:%M %p').lstrip('0') }} - {{ between_schedule.mon_end.strftime('%I:%M %p').lstrip('0') }}</li>
									{% endif %}
									{% if not g.current_school.school_hours.closed_tues and not between_schedule.closed_tues %}
									<li>T {{ between_schedule.tues_start.strftime('%I:%M %p').lstrip('0') }} - {{ between_schedule.tues_end.strftime('%I:%M %p').lstrip('0') }}</li>
									{% endif %}
									{% if not g.current_school.school_hours.closed_weds and not between_schedule.closed_weds %}
									<li>W {{ between_schedule.weds_start.strftime('%I:%M %p').lstrip('0') }} - {{ between_schedule.weds_end.strftime('%I:%M %p').lstrip('0') }}</li>
									{% endif %}
									{% if not g.current_school.school_hours.closed_thurs and not between_schedule.closed_thurs %}
									<li>T {{ between_schedule.thurs_start.strftime('%I:%M %p').lstrip('0') }} - {{ between_schedule.thurs_end.strftime('%I:%M %p').lstrip('0') }}</li>
									{% endif %}
									{% if not g.current_school.school_hours.closed_fri and not between_schedule.closed_fri %}
									<li>F {{ between_schedule.fri_start.strftime('%I:%M %p').lstrip('0') }} - {{ between_schedule.fri_end.strftime('%I:%M %p').lstrip('0') }}</li>
									{% endif %}
									{% if not g.current_school.school_hours.closed_sat and not between_schedule.closed_sat %}
									<li>S {{ between_schedule.sat_start.strftime('%I:%M %p').lstrip('0') }} - {{ between_schedule.sat_end.strftime('%I:%M %p').lstrip('0') }}</li>
									{% endif %}
									{% if not g.current_school.school_hours.closed_sun and not between_schedule.closed_sun %}
									<li>S {{ between_schedule.sun_start.strftime('%I:%M %p').lstrip('0') }} - {{ between_schedule.sun_end.strftime('%I:%M %p').lstrip('0') }}</li>
									{% endif %}

								</ul>
							</td>
							<td>
								<a href="{{ url_for('back.schedules_edit_prices', schedule_id=between_schedule.id, schedule_type='between_hours') }}" class="uk-button uk-button-small">Edit prices</a>
								<ul class="uk-list">
								{% for price in between_schedule.prices %}
									<li>{{ format_price(price.price) }}, {{ price.group.name }} every {{ price.billing_duration }} {{ billing_units[price.billing_unit] }}</li>
								{% endfor %}
								</ul>
							</td>
							<td>
								<a href="{{ url_for('back.schedules_new_kids',schedule_id=between_schedule.id, schedule_type='between_hours') }}" class="uk-button uk-button-small">Edit Kids</a>
								{% if not between_schedule.kids.all() | length %}
								<p>You do not have any kids for this schedule yet.</p>
								{% else %}
								<ul class="uk-list">
									{% for kid in between_schedule.kids.all() %}
									<li><a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">{{ kid.full_name }}</a></li>
									{% endfor %}
								</ul>
								{% endif %}
							</td>
							<td>
									<a href="#" data-id="{{ between_schedule.id }}" class="remove-schedule uk-button uk-button-small">Remove schedule</a>
									{% if between_schedule.active %}
									<p>Active</p>
									{% else %}
									<p><a href="#" class="uk-button uk-button-small activate-between-schedule" data-id="{{ between_schedule.id }}">Activate</a></p>
									{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
			</li>
			<li>
				{% if not g.current_school.one_for_all_schedule %}
				<p>Use this schedule if you charge one price for all kids. Regardless of how many hours they attend.</p>
				<p>You do not have a "One for all" schedules created yet</p>
				{% else %}
				<table class="uk-table uk-table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Prices</th>
							<th>Kids</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{ g.current_school.one_for_all_schedule.name }}
							</td>
							<td>
								<a href="{{ url_for('back.schedules_edit_prices', schedule_id=g.current_school.one_for_all_schedule.id, schedule_type='one_for_all') }}" class="uk-button uk-button-small">Edit prices</a>
								<ul class="uk-list">
								{% for price in g.current_school.one_for_all_schedule.prices %}
									<li>{{ format_price(price.price) }}, {{ price.group.name }} every {{ price.billing_duration }} {{ billing_units[price.billing_unit] }}</li>
								{% endfor %}
								</ul>
							</td>
							<td>
								<a href="{{ url_for('back.schedules_new_kids',schedule_id=g.current_school.one_for_all_schedule.id, schedule_type='one_for_all') }}" class="uk-button uk-button-small">Edit Kids</a>
								{% if not g.current_school.one_for_all_schedule.kids.all() %}
								<p>You do not have any kids for this schedule yet.</p>
								{% else %}
								<ul class="uk-list">
									{% for kid in g.current_school.one_for_all_schedule.kids.all() %}
									<li><a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">{{ kid.full_name }}</a></li>
									{% endfor %}
								</ul>
								{% endif %}
							</td>
							<td>
								{% if g.current_school.one_for_all_schedule.active %}
								<p>Active</p>
								{% else %}
								<p><a href="#" class="uk-button uk-button-small activate-one-for-all" data-id="{{ g.current_school.one_for_all_schedule.id }}">Activate</a></p>
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>
				{% endif %}
			</li>
			
			<li>
				{% if not g.current_school.calendar_schedule %}
				<p>Use this schedule if you allow parents to pluck days and hours out of a calendar for their child to attend.</p>
				<p>You do not have any "Calendar" schedules created yet</p>
				{% else %}
				<table class="uk-table uk-table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Prices</th>
							<th>Kids</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{ g.current_school.calendar_schedule.name }}
							</td>
							<td class="uk-text-left">
								<a href="{{ url_for('back.schedules_edit_prices', schedule_id=g.current_school.calendar_schedule.id, schedule_type='calendar') }}" class="uk-button uk-button-small">Edit prices</a>
								<ul class="uk-list">
								{% for price in g.current_school.calendar_schedule.prices %}
									<li>{{ format_price(price.price) }}, {{ price.group.name }} every {{ price.billing_duration }} {{ billing_units[price.billing_unit] }}</li>
								{% endfor %}
								</ul>
							</td>
							<td class="uk-text-left">
								<a href="{{ url_for('back.schedules_new_kids',schedule_id=g.current_school.calendar_schedule.id, schedule_type='calendar') }}" class="uk-button uk-button-small">Edit Kids</a>
								{% if not g.current_school.calendar_schedule.kids.all() | length %}
								<p>You do not have any kids for this schedule yet.</p>
								{% else %}
								<div class="uk-scrollable-box uk-margin-top">
									<table class="uk-table uk-list-striped">
										{% for kid in g.current_school.calendar_schedule.kids.all() %}
										<tr>
											<td class="uk-text-left"><a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">{{ kid.full_name }}</a></td>
											<td><a href="#" data-id="{{ kid.id }}" class="review-schedule uk-button uk-button-small">Review schedule</a></td>
										</tr>
										{% endfor %}
									</table>
								</div>
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>
				<div id="review-calendar" class="uk-grid uk-hidden" data-uk-grid-margin="">
					<div class="uk-width-medium-1-2">
						<div style="margin: 0 auto;" id="calendar-schedule"></div>
						<div class="uk-margin-top">
							<button id="save-calendar-schedule" href="#" class="uk-button uk-button-primary">
								<span id="approve-lock">
									<i class="uk-icon-lock" ></i>
								</span> Approve schedule for 
								<span class="approve-month"></span> 
								<span class="approve-year"></span>
							</button>
							<i class="uk-icon-check uk-text-success uk-hidden" style="font-size:20px;"></i>
						</div>
					</div>
					<div class="uk-width-medium-1-2">
						<h2>Current Schedule</h2>
						<ul id="current-date-list" class="uk-list uk-list-line uk-scrollable-box">

						</ul>
					</div>

				</div>
				{% endif %}
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block extra_js %}
{% assets "calendar" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
$(function(){
	var currentKid = 0;

	$("#approve-lock").hide();

	Date.prototype.addDays = function(days) {
       var dat = new Date(this.valueOf())
       dat.setDate(dat.getDate() + days);
       return dat;
   }

	function firstLastDay(monthSet){
		var date = new Date();
		date.setMonth(monthSet)
		var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
		var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
		return {
			firstDay:firstDay,
			lastDay:lastDay
		}
	}

	function getDates(startDate, stopDate) {
	  var dateArray = new Array();
	  var currentDate = startDate;
	  while (currentDate <= stopDate) {
	    dateArray.push(currentDate)
	    currentDate = currentDate.addDays(1);
	  }
	  return dateArray;
	}


	var currentLockedMonths = [];
	var currentDates = [];

	$("a.review-schedule").on('click',function(e){
		e.preventDefault();
		$("i.uk-icon-check").addClass('uk-hidden');
		$("#review-calendar").removeClass('uk-hidden');
		currentKid = $(this).attr('data-id');
		$('#calendar-schedule').multiDatesPicker('resetDates');
		$('#calendar-schedule').multiDatesPicker('resetDates','disabled');
		$.getJSON('/' + school + '/schedules/calendar/get/' + $(this).attr('data-id') + '/',function(data){
			if(data.dates.length){
				$('#calendar-schedule').multiDatesPicker('addDates', data.dates);	
			}
			currentDates = data.dates;
			currentLockedMonths = data.locked_months;
			populateDateList();
			var s = '';
			for(s in data.locked_months){
				var firstlast = firstLastDay(parseInt(data.locked_months[s]) - 1);
				var newDates = getDates(firstlast.firstDay,firstlast.lastDay);
				$("#calendar-schedule").multiDatesPicker({'addDisabledDates':newDates})	
			}
		});	
	});

	var populateDateList = function(){
		var s = '';
		$("#current-date-list").empty();
		if(!currentDates.length){
			$("#current-date-list").append('<li>No times yet</li>')
		}
		for(s in currentDates){
			var thisDate = currentDates[s];
			var month = new Date(thisDate).getMonth() + 1;
			var lock = currentLockedMonths.indexOf(month) != -1 ? 'class="lock-schedule"' : '' ;
			$("#current-date-list").append('<li ' + lock + '>' + thisDate + '</li>')
		}
	}


	$("#reset-school-hours").on('click',function(e){
		e.preventDefault();
		$.post("/" + school + "/schedules/school_hours/reset/",function(data){
			location.reload();
		});
	});

	$(".activate-one-for-all").on('click',function(e){
		e.preventDefault();
		var $this = $(this);
		$.post('/' + school + '/schedules/one_for_all/' + $this.attr('data-id') + '/activate/',
			function(data){
				location.reload();
			})
	});

	$(".activate-between-schedule").on('click',function(e){
		e.preventDefault();
		var $this = $(this);
		$.post('/'+ school + '/schedules/between_hours/' + $this.attr('data-id') + '/activate/',function(data){
			location.reload()
		});
	});

	var monthNames = ["January","February","March","April","May","June","July","August","September","October","November","December"];
	$("span.approve-month").text(monthNames[new Date().getMonth()]);
	var currentMonth = new Date().getMonth() + 1;
	var currentYear = new Date().getFullYear();
	$("span.approve-year").text(currentYear);

	var monthsToDisable = [];
	var disableMonths = function(date){
		var month = date.getMonth();
		if ($.inArray(month, monthsToDisable) != -1) {
		    return [false];
		}
		return [true];	
	}

	var changeMonthYear = function(year,month){
		currentYear = year;
		currentMonth = month;
		$("span.approve-month").text(monthNames[currentMonth-1]);
		$("span.approve-year").text(currentYear);
		$("i.uk-icon-check").addClass('uk-hidden');
		if(currentLockedMonths.indexOf(currentMonth) != -1){
			$("#save-calendar-schedule").prop('disabled',true);
			$("#approve-lock").show();
		}else{
			$("#save-calendar-schedule").prop('disabled',false);
			$("#approve-lock").hide();
		}
	}
	
	var currentTime = new Date() 
	var minDate = new Date(); //one day next before month
	var maxDate =  new Date(currentTime.getFullYear(), currentTime.getMonth() +3, -1); // one day before next month


	$("#calendar-schedule").multiDatesPicker({
		onChangeMonthYear: changeMonthYear,
		beforeShowDay: disableMonths,
		hideIfNoPrevNext: true,
		minDate:minDate,
		maxDate:maxDate
	});

	var currentDates = [];
	// APPROVE SCHEDULE
	$("#save-calendar-schedule").on('click',function(e){
		e.preventDefault();
		var dates = $('#calendar-schedule').multiDatesPicker('getDates');
		var sendData = {
			dates : JSON.stringify(dates),
			month : currentMonth,
			year : currentYear
		}
		currentDates = dates;
		currentLockedMonths.push(currentMonth)
		populateDateList();
		$.post('/' + school + '/schedules/calendar/approve/' + currentKid + '/',
			sendData, 
			function(data){
				if(data.result == 'OK'){
					$("i.uk-icon-check").removeClass('uk-hidden');	
					var firstlast = firstLastDay(currentMonth-1);
					var newDates = getDates(firstlast.firstDay,firstlast.lastDay);
					$('#calendar-schedule').multiDatesPicker('addDates', data.dates);
					$("#calendar-schedule").multiDatesPicker({'addDisabledDates':newDates});
				}
		},'json');
	});

	// DELETE SCHEDULE
	var deleteScheduleURL = '/{{ g.current_school.u_name }}/schedules/'
	$('a.remove-schedule').on('click',function(e){
		if(!confirm('Are you sure you want to remove this schedule?')){
			return false;
		}
		var $this = $(this);
		var scheduleID = $this.attr('data-id');
		$.ajax({
			url: deleteScheduleURL + scheduleID + '/',
			type: 'DELETE',
			success: function(data){
				if($this.closest('table').find('tr').length == 2){
					location.reload();	
				}
				$this.closest('tr').remove();
			}
		});
	});
});
</script>
{% endblock %}