{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<ul class="uk-tab" data-uk-tab="{connect:'#settings-tabs'}">
			<li class="uk-active"><a href="#" >Personal</a></li>
			{% if g.is_admin %}
			<li><a href="#">Site</a></li>
			<li><a href="#">School</a></li>
			<li><a href="#">Account</a></li>
			{% endif %}
		</ul>
		<ul id="settings-tabs" class="uk-switcher uk-margin">
			<li>
				<h1>Personal info</h1>
				<h2>Your code is: {{ current_user.code }}</h2>
				<form action="/{{g.current_school.u_name}}/settings/" method="POST" name="personal_info_form" class="uk-form">
					{{ personal_info_form.hidden_tag() }}
					<fieldset>
							{{ render_field_with_errors(personal_info_form.first_name,sr='only') }}
							{{ render_field_with_errors(personal_info_form.middle_name,sr='only') }}
							{{ render_field_with_errors(personal_info_form.last_name,sr='only') }}
							{{ render_field_with_errors(personal_info_form.cell_phone,sr='only') }}
							(to recieve text messages from {{ g.current_school.name }}. )
						<div class="uk-form-row">
							<input type="submit" class="uk-button uk-button-primary" value="Save">
						</div>
					</fieldset>
				</form>
			</li>
			{% if g.is_admin %}
			<li>
				<h1>Cloud settings</h1>
				<form action="/{{g.current_school.u_name}}/settings/" method="POST" name="settings_form" class="uk-form">
					{{ settings_form.hidden_tag() }}
					<fieldset>
						<div class="uk-form-row">
							<h3 class="uk-panel-title">Unique Web URL</h3>
							{{ render_field_with_errors(settings_form.u_name,sr='only') }}
						</div>
						<hr>
						<div class="uk-form-row">
							<h3 class="uk-panel-title">Photo space available</h3>
							{{ photo_space }} / 2.0GB ({{ percent_used }}%)

						</div>
						<hr>
						<div class="uk-form-row">
							<h3 class="uk-panel-title">Timezone</h3>
							{{ render_field_with_errors(settings_form.timezone,sr='only') }}
						</div>
						<hr>
						<div class="uk-form-row">
							<h3 class="uk-panel-title">Searchable</h3>
							{{ render_field_with_errors(settings_form.searchable,sr='only') }}
						</div>
						<hr>
						<div class="uk-form-row">
							<h3 class="uk-panel-title">Billing</h3>
							<p>Grace period in minutes. For parents who arrive too late or too early. Leave as -1 to opt out.</p>
							{{ render_field_with_errors(settings_form.grace, sr='only') }}
						</div>
						<div class="uk-form-row">
							{{ render_field_with_errors(settings_form.bill_equal) }}
						</div>
						<div class="uk-form-row">
							{{ render_field_with_errors(settings_form.billing_on) }}
						</div>
						<div class="uk-form-row">
							<input type="submit" class="uk-button uk-button-primary" value="Save">
						</div>
					</fieldset>
				</form>
			</li>
			<li>
				<h2>School info</h2>
				<p>
					{{ g.current_school.name }}
					{{ g.current_school.city }},
					{{ g.current_school.state }}
				</p>
				<p>Total kid records: {{ kids_so_far }} out of {{ total_kids_available }} available spots.</p>
				<h2>Create a new school/center</h2>
				<form action="/{{ g.current_school.u_name }}/schools/new/" id="new_school" method="POST" name="new_school_form" class="uk-form">
				{{ new_school_form.hidden_tag() }}
				<fieldset>
					{{ render_field_with_errors(new_school_form.name,sr='only') }}
					{{ render_field_with_errors(new_school_form.city,sr='only') }}
					{{ render_field_with_errors(new_school_form.state,sr='only') }}
					<div class="uk-form-row">
						<input type="submit" class="uk-button uk-button-primary" value="Create">
					</div>
					<p>Once you add another school it will appear in a drop down in the menu above. Or in the side menu on mobile.</p>
				</fieldset>
			</form>
			</li>
			<li>
				{% if current_user.customer %}
				<h2>Billing Info</h2>
				<ul class="uk-list">
					{% for credit_card in current_user.customer.credit_cards %}
					<li>
						<ul class="uk-list">
							<li><i class="uk-icon-credit-card"></i> {{ credit_card.type }} *** *** {{ credit_card.last4 }}</li>
							<li>Expiration: {{ credit_card.exp_month }}/{{ credit_card.exp_year }}</li>
							<li>Your credit card will be automatically charged on {{ current_user.customer.subscription.current_period_end.strftime('%m/%d/%y') }}</li>
						</ul>
					</li>
					{% endfor %}
				</ul>
				<p>
					<a href="#" id="get-receipts" class="uk-button uk-button-small">Receipts</a>
				</p>
				<p>
					<ul class="uk-list uk-list-line uk-margin-top" id="receipts"></ul>
				</p>
				<hr>
				{% endif %}

				<h2>Your account</h2>
				<h3>Available Plans</h3>
				<table class="uk-table">
					<thead>
						<th>Plan</th>
						<th>Base Price</th>
						<th>Base Tots</th>
						<th>Additional Tots</th>
						<th></th>
					</thead>
					<tbody>
						{% for plan in plans %}
						<tr>
							<td><strong>{{ plan.name.title() }}</strong></td>
							<td>${{ plan.price }}/month</td>
							<td>{{ plan.limit }}</td>
							{% if plan.name == 'free' %}
							<td>N/A</td>
							{% else %}
							<td>{{ format_price(plan.overage) }}/tot</td>
							{% endif %}
							{% if plan == g.current_school.company.plan %}
							<td>Your plan</td>
							{% else %}
							<td><a href="#" data-id="{{ plan.id }}" data-description="{{ plan.name }}" class="uk-button upgrade">{% if plan.upgrade %}Upgrade{% else %}Downgrade{% endif %}</a></td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<h3>Best Plan for You Calculator</h3>
				<div class="tot-calulations uk-form">
					<input type='text' placeholder='How many tots in all of your schools?' id='tot-calc'>
					<div id='tot-result'>$0</div>
				</div>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
{% if current_user.customer %}
<form action="{{ url_for('back.customer_update') }}" method="POST" name="change_plan_form" id="change-plan-form" class="uk-form">
	{{ change_plan_form.hidden_tag() }}
</form>
<div id="upgrade-modal" class="uk-modal">
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h3>Change your plan</h3>
		<p id="plan-description">You are changing to the <strong></strong> plan. Plan changes are immediate.</p>
		<a href="#" id="change-plan" class="uk-button uk-button-expand uk-button-success">Change my plan</a>
	</div>
</div>
{% else %}
<div id="upgrade-modal" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
		<form action="{{ url_for('back.customer_new') }}" method="POST" class="uk-form uk-form-stacked" id="payment-form">
			{{ customer_new_form.hidden_tag() }}
			<p class="uk-badge uk-badge-success"><i class="uk-icon-lock"></i> Secure</p>
			<h3 id="plan-description" >You are upgrading to the <strong></strong> plan</h3>
			<span class="payment-errors"></span>
			<div class="uk-form-row sr-only">
				<label class="uk-form-label" for="card-number">Card number</label>
				<input type="text" id="card-number" data-stripe="number">
			</div>
			<div class="uk-form-row sr-only">
				<label class="uk-form-label" for="cvc">CVC</label>
				<input type="text" id="cvc" id="cvc" data-stripe="cvc">
			</div>
			<div class="uk-form-row sr-only">
				<label class="uk-form-label" for="month">Expiration (MM/YYYY)</label>
				<input type="text" size="2" id="month" data-stripe="exp-month">
				<span> / </span>
				<input type="text" size="4" data-stripe="exp-year">
			</div>
			<div class="uk-form-row sr-only">
				<button type="submit" class="uk-button uk-button-primary">Upgrade</button>
			</div>
		</form>
    </div>
</div>
{% endif %}

{% endblock %}
{% block extra_js %}

{% assets "importance" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
Stripe.setPublishableKey('{{ stripe_pushable }}');
</script>
{% endassets %}

<script type="text/javascript">
$(function(){
	var school = '{{ g.current_school.u_name }}';
	
	var plans = [{% for plan in plans %}{name:'{{ plan.name }}',price:{{ plan.price }},limit:{{ plan.limit }},overage:{{ plan.overage }} }{% if not loop.last %},{% endif %}{% endfor %}];

	$("#tot-calc").keyup(function(){
		$("#tot-result").html('');
		var calcVal = $(this).val();
		var s = '';
		var currentHTML = $("#tot-result").html();
		var lowestVal = Number.MAX_VALUE;
		var lowestInt = 0;
		for(s in plans){
			if(plans[s].name == 'free'){
				continue;
			}
			var currentPrice = 0;
			currentPrice = plans[s].price;
			if(calcVal > plans[s].limit){
				var thisMuchOver = calcVal - plans[s].limit;
				var overage = plans[s].overage * thisMuchOver;
				currentPrice = currentPrice + overage;
			}

			if(currentPrice < lowestVal){
				lowestInt = s;
				lowestVal = currentPrice;
			}

			currentHTML += '<tr data-id="' + s + '"><td>' + plans[s].name + ':</td><td><strong>' + '$' + currentPrice.toFixed(2) + '</strong>/per month</td></tr>';

		}
		console.log(lowestInt);

		$("#tot-result").html('<table style="border-collapse:collapse;" class="uk-table">' + currentHTML + '</table>');

		$("tr[data-id='" + lowestInt + "'] td").css('background-color','#8CC14C');
	})



	$("#first_name").focus();
	$("#get-receipts").on('click',function(e){
		e.preventDefault();
		var $this = $(this);
		$this.parent().append('<i id="loading-receipts" class="uk-icon-refresh uk-icon-spin"></i>');
		$this.remove();
		receipts_url = '/' + school + '/customer/receipts/';
		$.getJSON(receipts_url, function(receipts){
			var getDateFromUnix = function(d){
				var d = new Date(d*1000);
				return (d.getUTCMonth() + 1) + '/' + d.getUTCDate() + '/' + d.getUTCFullYear()
			}
			var s = '';
			var $receiptList = $("#receipts");
			for(s in receipts.data){
				$receiptList.append("<li>On " + getDateFromUnix(receipts.data[s].date) + " - $" + (receipts.data[s].amount_due/100).toFixed( 2 ) + "</li>")
			}
			$("#loading-receipts").remove();
		})
	});

	var modal = new $.UIkit.modal.Modal("#upgrade-modal");
	$('#payment-form').submit(function(event) {
		var $form = $(this);

		// Disable the submit button to prevent repeated clicks
		$form.find('button').prop('disabled', true);

		Stripe.card.createToken($form, stripeResponseHandler);

		// Prevent the form from submitting with the default action
		return false;
	});

	var currentPlan = 0;

	$(".upgrade").on('click',function(e){
		currentPlan = $(this).attr('data-id');
		$("#plan").val(currentPlan);
		$("#plan-description strong").text($(this).attr('data-description'));
		modal.show();
	});

	$("#change-plan").on('click',function(e){
		e.preventDefault();
		$("#change-plan").parent().append('<i class="uk-icon-refresh uk-icon-spin"></i>')
		$("#change-plan").remove();
		$("#change-plan-form").submit();
	})

	var stripeResponseHandler = function(status, response) {
		var $form = $('#payment-form');

		if (response.error) {
			// Show the errors on the form
			$form.find('.payment-errors').text(response.error.message);
			$form.find('button').prop('disabled', false);
		} else {
			// token contains id, last4, and card type
			var token = response.id;
			// Insert the token into the form so it gets submitted to the server
			$form.append($('<input type="hidden" name="stripeToken" />').val(token));
			// and submit
			$form.get(0).submit();
			// modal.hide();
		}
	};
})
</script>

{% endblock %}