{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/lib/wmd.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/plainjane.css') }}">
<style type="text/css" media="screen">
			textarea {width:100%;margin:0;height:200px;}
			textarea, #notes-preview {
				padding: 15px;
				background: #fafafa;
				color: #444;
				border: 1px solid #ddd;
				border-radius: 4px;}
			#notes-preview {overflow-x:hidden;overflow-y:scroll;max-height: 210px;}
		</style>
{% endblock %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1 uk-text-left">
		<h1>Forms</h1>
		<h2>{% if sign_form %}Edit {% else %}Create a {% endif %}form</h2>
		{% if sign_form %}
		<a href="{{ url_for('back.sign_forms') }}" class="uk-button uk-button-small uk-button-primary">New form</a>
		{% endif %}
		<a href="#help-modal" data-uk-modal class="uk-button uk-button-small">Instructions and Tips</a>
		<form action="/{{g.current_school.u_name}}/forms/{% if sign_form %}{{ sign_form.id }}/{% endif %}" method="POST" name="sign_forms_form" id="sign-forms-form" class="uk-form">
			{{ sign_forms_form.hidden_tag() }}
			<fieldset>
				{{ render_field_with_errors(sign_forms_form.title,sr='only') }}
				<div class="uk-markdownarea-preview">	
					<div id="notes-button-bar"></div>
					<textarea id="content" name="content" rows="10">{% if sign_form %}{{ sign_form.markdown }}{% endif %}</textarea>
					<strong>Preview:</strong>
					<div id="notes-preview"></div>
					<textarea type="text" class="uk-hidden" name="copy_html" value="" id="copy_html"></textarea>
				</div>
				<hr>
				{{ render_field_with_errors(sign_forms_form.kids,sr='only') }}
				{{ render_field_with_errors(sign_forms_form.requires_signature,sr='only') }}
				{{ render_field_with_errors(sign_forms_form.active,sr='only') }}

				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>
			</fieldset>
		</form>
		<h2>My forms</h2>
		{% if sign_forms %}
		<table class="uk-table uk-table-striped" id="report-table">
		<thead>
		<tr>
			<th>Title</th>
			<th>Number of kids</th>
			<th>Active?</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
		{% for a_form in sign_forms %}
			<tr>
				{% if not a_form.title %}
				<td>Untitled</td>
				{% else %}
				<td>{{ a_form.title }}</td>
				{% endif %}
				<td>{{ a_form.signatures | length }}</td>
				<td>{% if a_form.active %}Active{% endif %}</td>
				<td>
					<a href="#stats-modal" data-id="{{ a_form.id }}" data-uk-modal class="form-results uk-button uk-button-small">Results</a>
					<a href="{{ url_for('back.sign_forms_singular',sign_form_id=a_form.id) }}" class="edit-form uk-button uk-button-small">Edit</a>
					<a href="{{ url_for('back.sign_forms_singular',sign_form_id=a_form.id) }}" class="delete-form uk-button uk-button-small uk-button-danger ">Delete</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
		{% else %}
		<p>You don't have any forms yet</p>
		{% endif %}
	</div>
</div>
<div id="stats-modal" class="uk-modal">
	<div class="uk-modal-dialog uk-scrollable-box" style="max-height:500px;">
		<a href="#" class="uk-modal-close uk-close"></a>
		<h1>Stats</h1>
		<table id="stats-area" class="uk-table">
			<thead>
				<th>Name</th>
				<th>Signed?</th>
				<th>Form Data</th>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
<div id="help-modal" class="uk-modal">
	<div class="uk-modal-dialog uk-scrollable-box uk-markdownarea-preview" style="max-height:500px;">
		<a href="#" class="uk-modal-close uk-close"></a>
		<table class="uk-table uk-table-striped uk-width-1-1" style="border-spacing:10px;">
			<thead>
				<tr>
					<th>You write this</th>
					<th>Which makes this</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td align="left">name=___</td>
					<td align="left"><p style="margin:15px 10px 15px;"><label for="name" class="">Name:</label><input type="text" id="name" name="name" size="20" class=""></p></td>
				</tr>
				<tr>
					<td align="left">sex = (x) male () female</td>
					<td align="left"><p><label for="male">male</label><input type="radio" name="sex" id="male" value="male" checked="checked"><label for="female">female</label><input type="radio" name="sex" id="female" value="female"></p></td>
				</tr>
				<tr>
					<td align="left">phones = [] Android [x] iPhone [x] Blackberry</td>
					<td align="left"><p><label for="android">Android</label><input type="checkbox" name="phones" id="android" value="android"><label for="iphone">iPhone</label><input type="checkbox" name="phones" id="iphone" value="iphone" checked="checked"><label for="blackberry">Blackberry</label><input type="checkbox" name="phones" id="blackberry" value="blackberry" checked="checked"></p></td>
				</tr>
				<tr>
					<td align="left">city = {BOS, SFO, (NYC)}</td>
					<td align="left"><p><label for="city">city:</label><select id="city" name="city" class="solo"><option value="BOS">BOS</option><option value="SFO">SFO</option><option value="NYC" selected="selected">NYC</option></select></p></td>
				</tr>
				<tr>
					<td align="left">*italics*</td>
					<td align="left"><em>italics</em></td>
				</tr>
				<tr>
					<td align="left">**bold**</td>
					<td align="left"><b>bold</b></td>
				</tr>
				<tr>
					<td align="left"><nobr>[linked text](http://site.com)</nobr></td>
					<td align="left"><a href="http://example.com">linked text</a></td>
				</tr>
				<tr>
					<td align="left">#heading 1</td>
					<td align="left"><h1><nobr>heading 1</nobr></h1></td>
				</tr>
				<tr>
					<td align="left">##heading 2</td>
					<td align="left"><h2>heading 2</h2></td>
				</tr>
				<tr>
					<td align="left">heading 1<br>===========</td>
					<td align="left"><h1><nobr>heading 1</nobr></h1></td>
				</tr>
				<tr>
					<td align="left">heading 2<br>-----------</td>
					<td align="left"><h2>heading 2</h2></td>
				</tr>
				<tr>
					<td align="left">
						- item 1<br>
						- item 2<br>
						- item 3
					</td>
					<td align="left"><ul>
							<li>item 1</li>
							<li>item 2</li>
							<li>item 3</li>
					</ul></td>
				</tr>
				<tr>
					<td align="left">
						1. item 1<br>
						2. item 2<br>
						3. item 3
					</td>
					<td align="left"><ol>
						<li>item 1</li>
						<li>item 2</li>
						<li>item 3</li>
					</ol></td>
				</tr>
				<tr>
					<td align="left">&gt; quoted text</td>
					<td align="left"><blockquote>quoted text</blockquote></td>
				</tr>
				<tr>
					<td align="left">
						<span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;</span>if 1 * 2 &lt; 3:<br>
						<span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>print "hello, world!"<br>
					</td>
					<td align="left"><pre>if 1 * 2 &lt; 3:<br>    print "hello, world!"</pre></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%raw%}
<script type="text/html" id="signatures-tmpl">
	<tr >
		<td align="left"><a href="/<%=school%>/kids/<%=this.kid.id%>/"><%=this.kid.first_name%> <%=this.kid.last_name%></a></td>
		<%if(this.signed){%>
		<td align="left"><span class="uk-badge uk-badge-success">Signed</span></td>
		<%}else{%>
		<td align="left"></td>
		<%}%>
		<td align="left">
		<%if(this.extra_data){%>
			<table class="uk-form uk-form-striped">
			<%for(var s in this.extra_data){%>
				<tr>
					<td><%=s%>:</td>
					<td><strong><%=this.extra_data[s]%></strong></td>
				</tr>
			<%}%>
			</table>
		<%}%></td>
	</tr>
</script>
{%endraw%}
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/tmpl.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/wmd.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/showdown.js') }}"></script>
<script type="text/javascript">
$(function(){
	new WMDEditor({
		input: "content",
		button_bar: "notes-button-bar",
		preview: "notes-preview",
		output: "copy_html",
		buttons: "bold italic link  ol ul  heading",
		modifierKeys: false,
		autoFormatting: false
	});
	$(".form-results").on('click',function(){
		$.getJSON('/' + school + '/forms/' + $(this).attr('data-id') + '/results/',function(data){
			var s = '';
			var $statsArea = $("#stats-area tbody");
			$statsArea.empty();
			for(s in data){
				data[s].school = school;
				data[s].extra_data = JSON.parse(data[s].extra_data);
				$statsArea.append($("#signatures-tmpl").jqote(data[s]));
			}
		})
	});
	$('.delete-form').on('click',function(e){
		e.preventDefault();
		var row = $(this).closest('tr');
		$.ajax({
		url: $(this).attr('href'),
		type: 'DELETE',
		success: function(result) {
			if(result.result == 'OK'){
				row.remove();
			}else{
				alert('There was a problem. Please try again later.');
			}
		}
	});
	})
})
</script>
{% endblock %}