{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Staff</h1>
		{% if g.is_admin %}
		<a href="#" class="uk-button uk-button-small js-expander {% if errors %}js-expanded{% endif %}" data-connect="#staff-form" >New Staff Member</a>
		<form action="/{{g.current_school.u_name}}/staff/" method="POST" name="staff_form" id="staff-form" class="uk-form js-expander-content">
			{{ staff_form.hidden_tag() }}
			<fieldset>
					{{ render_field_with_errors(staff_form.first_name,sr='only') }}
					{{ render_field_with_errors(staff_form.middle_name,sr='only') }}
					{{ render_field_with_errors(staff_form.last_name,sr='only') }}
					{{ render_field_with_errors(staff_form.groups,sr='only') }}
					{{ render_field_with_errors(staff_form.email,sr='only') }}
					{{ render_field_with_errors(staff_form.code,sr='only') }}
					{{ render_field_with_errors(staff_form.is_director,sr='only') }}
					<p>We will send this email address a temporary password with instructions for signing in.</p>
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>
			</fieldset>
		</form>
		{% endif %}
		{% if not staff %}
		<p>You don't have any staff here yet. </p>
		{% else %}
		<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th></th>
					<th class="uk-hidden-small uk-hidden-medium">Email</th>
					<th class="uk-hidden-small uk-hidden-medium">Last Attendance</th>
					<th>Code</th>
					<th>Groups</th>
					<th class="uk-hidden-small uk-hidden-medium">Approved</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for teacher in staff %}
				{% if not teacher.is_attendance() %}
				<tr>
					<td style="text-align:left;">
						{{ teacher.person.first_name }} <span class="uk-hidden-small">{{ teacher.person.last_name }}</span> 
					</td>
					<td style="text-align:left;">{% if teacher.has_role('director') %} 
						<span class="uk-badge">director</span>
						{% elif teacher.has_role('admin') %}
						<span class="uk-badge uk-badge-success">admin</span>
						{% endif %}</td>
					<td class="uk-hidden-small uk-hidden-medium">{{ teacher.email }}</td>
					<td class="uk-hidden-small uk-hidden-medium">
						{% if not teacher.status_time %}
						New teacher
						{% else %}
						<a href='{{ url_for('back.attendance_staff_log',staff_id=teacher.id) }}'>
							{% if teacher.status == 1 %}In{% else %}Out{% endif %} (<span title="{{ teacher.status_time }}" class="timeago"></span>)
						</a>
						{% endif %}
					</td>
					<td>{{ teacher.code }}</td>
					<td>
						{% for group in teacher.groups %}
						{{ group.name }}
						{% endfor %}
					</td>
					<td class="uk-hidden-small uk-hidden-medium">{% if teacher.pending %}Pending{% else %}OK{% endif %}</td>
					<td>
						<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
							<button class="uk-button uk-button-small">Options <i class="uk-icon-caret-down"></i></button>
							<div class="uk-dropdown" style="">
								<ul class="uk-nav uk-nav-dropdown">
									<li><a href="{{ url_for('back.staff_edit',staff_id=teacher.id) }}">Edit</a></li>
									<li><a href="#" class="send-message-staff" data-id="{{ teacher.id }}" data-name="{{ teacher.person.first_name }}">Send message</a></li>
									<li><a href="{{ url_for('back.staff') }}" data-id="{{ teacher.id }}" class="delete-teacher uk-text-danger">Delete Staff</a></li>
									<li><a href="{{ url_for('back.attendance_staff_log',staff_id=teacher.id) }}">Time card</a></li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>

<div id="in-out-modal" class="uk-modal">
	<div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        Info
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/moment.min.js') }}"></script>
<script type="text/javascript">
$(function(){

	$("a.send-message-staff").on('click',function(e){
		e.preventDefault();
		$("#message_staff").val($(this).attr('data-id'));
		$("#message-who").empty().append('<option value="staff"></option>')
		$("#message-to").text(' ' + $(this).attr('data-name'))
		$("#message-center").trigger('open');
	});

	$(".time-ago").each(function(){
		$(this).text(moment($(this).attr('data-time')).from(new Date()))	
	})

	$("a.delete-teacher").on('click',function(e){
		e.preventDefault()
		var $this = $(this);
		if(confirm('Are you sure you want to delete this teacher?')){
			var teacherID = $(this).attr('data-id')
			$this.closest('tr').remove();	
			$.ajax({
				url: '/' + school + '/staff/' + teacherID + '/',
				type: 'DELETE',
				success: function(data){
					if($this.closest('table').find('tr').length == 0){
						location.reload();
					}
				}
			});
		}
	});	
})
</script>
{% endblock %}