{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		{% if current_user.pending %}
		<h2>Thanks for applying to {{ g.current_school.name }}.<br /> Please wait for the administrator to approve you.</h2>
		{% else %}
		<h1>Your kids</h1>
		{% if not current_user.groups.all() %}
		You have not been assigned any groups or children yet.
		{% else %}
		{% for group in current_user.groups %}
		<h2>{{ group.name }}</h2>
		<p><span class="uk-badge uk-badge-success">{{ kids_in[loop.index-1] }}</span> <span class="uk-badge uk-badge-danger">{{ kids_out[loop.index-1] }}</span></p>
		<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
			<thead>
				<th></th>
				<th>Name</th>
				<th class="uk-hidden-small">Status</th>
				<th>Latest</th>
				<th></th>
			</thead>
			<tbody>
				{% for kid in group.active_kids %}
				<tr>
					<td>
						{% if kid.profile_pic_smallish %}
						<a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">
							<img class="uk-thumbnail" src="{{ kid.profile_pic_smallish }}" >
						</a>
						{% else %}
						<a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">
							<i class="uk-icon-user uk-thumbnail" style="font-size:84px;color:#DDD;"></i>
						</a>
						{% endif %}
					</td>
					<td><a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">{{ kid.first_name }} <span class="uk-hidden-small">{{ kid.last_name }}</span></a></td>
					<td class="uk-hidden-small">
						<a href='{{ url_for('back.attendance_log') }}'>
						{% if kid.status == 1 %}In{% else %}Out{% endif %} (<span title="{{ kid.status_time }}" class="timeago"></span>)
						</a>
					</td>
					<td>
						{% if kid.status == 1 %}
							{% if kid.last_activity %}
								{{ kid.last_activity.activity_type.name }} @ {{ kid.last_activity.time.strftime('%I:%M %p') }}
							{% endif %}
						{% endif %}
					</td>
					<td>
						{% if kid.status == 1 %}
						<a href="{{ url_for('back.kids_activities_new',kid_id=kid.id) }}" class="uk-button uk-button-large">
							<i class="uk-icon-plus-circle"></i> Add Activity
						</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endfor %}
		{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}