<p>Hi there!</p>
    <p>Looks like {{ school_name }} accepted your request. {{ school_name }} has been added to your list of schools.</p>
    <p>If you think this was a mistake. Please email us directly at {{ rejection_email }}.</p>
    <p>All the best, </p>
    <p>Go Tot Go!</p>
