<p>Welcome {{ first_name }},</p>
<p>You have been signed up! You can sign in with your email: {{ email }} and a temporary password: {{ temp_password }}.</p>
<p>You can sign up at http://gototgo.com/login/.</p>
<p>All the best,</p>
<p>GoTotGo!</p>