<p>Hi there {{ first_name }},</p>
<p>The change to your plan was successful! As is included with every single plan, you'll always have superior support from us.</p>
<p>If you ever need help or just want to say hi, drop us a line at gotogoapp@gmail.com. </p>
<p>You can always call us at (804) 453-TOTS</p>
<p>All the best,</p>
<p>Go Tot Go</p>