{% extends "front/front_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
<div class="p-section p-section-color-1 p-section-colored">
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-panel uk-panel-box uk-width-1-3 uk-container-center uk-text-center">
			<form action="/forgot/" method="POST" name="forgot_password_form" class="uk-form">
				<h3>What's your email address?</h3>
				{{ forgot_password_form.hidden_tag() }}
				<fieldset>
					{{ render_field_with_errors(forgot_password_form.email,sr='only') }}
					<div class="uk-form-row">
						<input type="submit" class="uk-button uk-button-primary" value="Next">
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}