{% from "security/_macros.html" import render_field_with_errors, render_field %}
<html id="invite-only">
<head>
	<title>GoTotGo: By Invite Only</title>
	{% assets "css_front" %}
	<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
	{% endassets %}
</head>

<body id="invite-only-body">
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		{# flash message #}
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="uk-width-1-3 uk-container-center uk-text-center">
			<div class="uk-alert" data-uk-alert>
				<a href="" class="uk-alert-close uk-close"></a>
				<ul class="uk-list">
					{% for message in messages %}
					<li>{{ message |safe }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
		{% endwith %}
		{% block dash_content %}
		{% endblock %}
	</div>
</div>
<div class="p-section p-section-color-1 p-section-colored">
	<div class="brand-container uk-container uk-container-center uk-text-center">
		<img class="p-logo" src="{{ url_for('static',filename='img/logo-b.png') }}" width="281" height="217" title="UIkit" alt="UIkit"><sup>tm</sup>

		<p id="tag-line" class="uk-text-large uk-hidden-small">{{ tagline | safe }}</p>

		<p><a href="#" id="request-invite" {% if invite_form.errors %}style="display:none"{% endif %} class="uk-button uk-button-primary uk-button-large">Request Invitation</a></p>
		<div>
			<form class="uk-form" id="invite-form" name="invite-form" {% if not invite_form.errors %}style="display:none;"{% endif %} action="{{ url_for('front.invite') }}" method="POST">
				{{ invite_form.hidden_tag() }}
				{{ render_field_with_errors(invite_form.email, sr='only') }}
				{{ render_field_with_errors(invite_form.school, sr='only') }}
				<input type="submit" class="uk-button uk-button-primary" value="Send Request">
			</form>
		</div>
		<p><a href="/tour/"  class="uk-button uk-button-small">Tour</a></p>
		<p><a href="/login/"  class="uk-button uk-button-small uk-button-primary">Login</a></p>
	</div>
</div>
{% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
$(function(){
	$("#request-invite").click(function(e){
		e.preventDefault();
		$(this).hide();
		$("#invite-form").show();
	});

	$("#email,#school").width('400');
	$("#email,#school").css('text-align','center');
})
</script>

</body>
</html>