{% extends "front/front_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
<div class="p-section p-section-color-1 p-section-colored">
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-panel uk-panel-box uk-width-1-3 uk-container-center uk-text-center">
			<h3>Change your password</h3>
			<form action="/reset_password/{{ token }}/" class="uk-form" method="POST" name="reset_password_form">
				{{ reset_password_form.hidden_tag() }}
				{{ render_field_with_errors(reset_password_form.password,sr='only') }}
				{{ render_field_with_errors(reset_password_form.password_confirm,sr='only') }}
			  <div class="uk-form-row">
					<input id="submit" name="submit" class="uk-button uk-button-primary" type="submit" value="Change Password">
			  </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}