{% extends "front/front_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
<div class="p-section p-section-color-1 p-section-colored">
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-panel uk-panel-box uk-width-1-3 uk-container-center uk-text-center">
			<div class="uk-progress">
				<div class="uk-progress-bar" style="width: 66%;">Step 2 of 3</div>
			</div>
			{% if suggestions == 'False' %}
				<div class="uk-alert" data-uk-alert>
					<a href="" class="uk-alert-close uk-close"></a>
					<p>We don't have any schools that match. Try again</p>
				</div>
			{% endif %}
			{% if choose_school_form %}
			<form action="/setup/2/" id="step-2-form-choose" method="POST" name="choose_school_form" class="uk-form">
				{{ choose_school_form.hidden_tag() }}
				<fieldset>
					<legend>Choose your school</legend>
					{{ render_field_with_errors(choose_school_form.school_choice,sr='only') }}
					<div class="uk-form-row">
						<input type="submit" class="uk-button uk-button-primary" value="Next">
					</div>
				</fieldset>
			</form>
			{% else %}
			<form action="/setup/2/" id="step-2-form" method="POST" name="setup_school_form" class="uk-form">
				{{ setup_school_form.hidden_tag() }}
				<fieldset>
					<legend>My school's GoTotGo account is</legend>
					{% if g.is_admin %}
					{{ render_field_with_errors(setup_school_form.new_existing,sr='only') }}
					{% else %}
					{{ render_field_with_errors(setup_school_form.new_existing,visibility='hidden',sr='only') }}
					{% endif %}

					{{ render_field_with_errors(setup_school_form.name,sr='only') }}
					{{ render_field_with_errors(setup_school_form.city,sr='only') }}
					{{ render_field_with_errors(setup_school_form.state,sr='only') }}
					{{ render_field_with_errors(setup_school_form.timezone,sr='only') }}
					<div class="uk-form-row">
						<input type="submit" class="uk-button uk-button-primary" value="Next">
					</div>
				</fieldset>
			</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(function(){
	$("#name").focus();
})
</script>
{% endblock %}