<p>Hi there from GoTotGo,</p>
<p>Looks like you forgot your password. If you did not request a password change then you can ignore this message.</p>
<p><a href="{{ password_link }}">Click here to change your password</a></p>